{% extends 'public/news_layout.html' %}
{% block title %} Albasrawie | Bogga Lama Helin

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}

<section class="border">
    <div class="container-lg mt-3 mb-5 ">
        <div class="row  justify-content-center">
            <div class="col-xl-10 ps-lg-0 ">
                <!-- Overview Division -->
                <div class="mt-5 pt-5 text-center">
                    <h4 class="display-3  text-blue-light ">404</h4>
                    <h5 class="fs-5 text-blue-light ">
                        Waanu ka xunnahay, bogga aad raadiyeysid ma jiro. Waxaa dhici karta inaad si qaldan u qortay ULR-ka amaba boggga meel kalaa loo guuriyey.
                    </h5>
                    <a  href="https://www.albasrawie.com/" class="btn btn-dark  fs-6 rounded-pill shadow-0  reg-btn-pg mt-4">A<span class="text-lowercase">ad Hoyga</span></a>
                </div>

            </div>
        </div>
    </div>
</section>



{% endblock %}