.my_active_tap{
    border : 1px solid #0063cc;
    padding: 3px;
    border-radius: 5px;
}

.list-with-bullets ul li {
    list-style-type: disc; /* This ensures that bullets are displayed */
    padding-left: 20px; /* This adds some padding to align the bullets inside the container */
}
