#top-header {
  background-color: #168055 !important;
  /* Replace with your desired color if needed */
}

.link-success-bg{
  background-color: #168055 !important;

}

.my_active_tap{
  border : 1px solid #0063cc;
  padding: 3px;
  border-radius: 5px;
}


.side_bar_header{
  background-color: #168055 !important;
  /* Replace with your desired color if needed */

}
.my_active_link {
  color: #168055 !important;
}

#top-nav-bar-links .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add this line */
  width: 100%;
  height: 30px;
}

#top-nav-bar-links .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

#top-nav-bar-links .navbar-nav .nav-link {
  color: white;
}

#top-dropdown-menu {
  width: 100vw;
  height: 25rem;
}

#toggle_btn:hover{
  background-color: #e4e4e4;
}

/* .accordion_topic{
  font-family:;
} */

.green_hover:hover {
  color: #168055;
}

#faqgreen_hover:hover {
  color: #168055;
}
.accordion_topic:hover{
  color: #168055;

}

#header_line_accordion{
  border: 1px solid #f7f7f7;
}

#accordion_home{
  color: rgb(82, 82, 82);
}
#accordion_home:hover{
  color:  #168055;

}
#faqgreen_hover{
  color: rgb(82, 82, 82);
}
#faqgreen_hover:hover{
  color:  #168055;

}

.top-dropdown-menu-link:hover {
  text-decoration: underline;
}

.sec-nave-links:hover {
  text-decoration: underline;
}

div.list-group.list-group-flush>.list-group-item-action {
  color: black;
}

#progress{
  background-color: #168055;
  color: white;
  position: fixed;
  z-index: 1000; /* high value to ensure it stays on top */
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#progress-value{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 15px;
  color: black;
}


#progress-whatsApp{
  background-color: #168055;
  color: white;
  position: fixed;
  z-index: 1000; /* high value to ensure it stays on top */
  bottom: 100px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#progress-value-whatsApp{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 15px;
  color: black;
}

/* Change background color on hover */
div.list-group.list-group-flush>.list-group-item-action:hover {
  color: white;
  background-color: #168055;
  /* Replace 'green' with your desired color */
  text-decoration: underline;
}

/* Change list group item line color */
div.list-group.list-group-flush>.list-group-item-action {
  border-bottom: 1px solid #168055;
  /* Set the border-bottom color */
}

/* Remove bottom border for the last item */
.list-group-item-action:last-child {
  border-bottom: none;
}

.vertical-line {
  border-left: 1px solid #000;
  /* This creates the line */
  height: 100px;
  /* Adjust the height as needed */
  width: 0;
  /* Line width */
}

.sec-nave-links:not(:last-child) {
  border-right: 1px solid #000;
  /* Adds a vertical line to the right */
  padding-right: 10px;
  /* Adds some space to the right of the text */
  margin-right: 10px;
  /* Adds additional space to the right of the border */
}

/* Setion onr the hero image =========================*/

/* carousel */
/* .section1 {
  height: 800px;
} */
.c-item {
  height: 600px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.hu-hero-font {
  font-family: "Arvo", serif;
  font-family: "Exo 2", sans-serif;
  /* font-family: "Nova Square", sans-serif; */
}

.v2_font {
  font-family: "Arvo", serif;
}

.green-line {
  border: none;
  height: 5px;
  /* Adjust the thickness of the line */
  background-color: #168055;
  /* Set the color of the line */
}

/* =============================== */
.image-container {
  position: relative;
  width: 100%;
  /* Full width */
  padding-top: 56.25%;
  /* Aspect ratio: 16:9 */
  overflow: hidden;
  /* Hide anything outside the container */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This will cover the area, possibly cropping the image */
}

.text-overlay {
  position: absolute;
  bottom: 0;
  /* Adjust as needed, could be 'top: 0' for top alignment */
  left: 0;
  width: 100%;
  /* Ensure it spans the width of the image */
  background-color: rgba(0, 0, 0, 0.6);
  /* Semi-transparent dark background */
  color: white;
  /* Text color */
  text-align: center;
  /* Center the text */
  padding: 10px;
  /* Adjust as needed */
}

/* =============================== */

/* Setion onr the hero image end */

/* section2=============================================== */
.section3 {
  background-color: #f5f5f5;
}

.all_events:hover {
  text-decoration: none;
  /* Remove default underline */
  border-bottom: 2px solid currentColor;
  /* Custom underline */
  padding-bottom: 3px;
  /* Adjust spacing between text and underline */
}

.card {
  position: relative;
  /* Needed for absolute positioning of the pseudo-element */
}

.card-header-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  /* Height of the top border */
  background: linear-gradient(to right,
      green,
      rgb(114, 201, 106),
      rgb(32, 122, 32));
  /* Gradient color */
  border-radius: 1px;
  /* Optional for rounded corners */
}

/* section2=============================================== */

/* section 3 ==================================================*/
.card_elevation {
  box-shadow: none !important;
}

/* Base styles for the card */
.card_elevation {
  transition: transform 0.3s ease, box-shadow 0.1s ease;
  /* Smooth transition for hover effects */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  /* Initial shadow */
}

/* Hover effect for the card */
.card_elevation:hover {
  cursor: pointer;
  /* Add cursor on hover */
  transform: translateY(-10px);
  /* Moves the card up */
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.2);
  /* Larger shadow for lifted effect */
}

/* Underline anchor tag on hover */
.card_elevation a:hover {
  text-decoration: underline;
  /* Underline the link */
}

/* Darken the image on hover */
.card_elevation:hover img {
  filter: brightness(70%);
  /* Reducing the brightness to darken the image */
}

.card_elevation_body {
  background-color: #ececec;
}


.news_card_bg_image img {
  width: 100%;
  height: 100%;
  /* Set height to fill the container */
  object-fit: cover;
  /* This will cover the area, possibly cropping the image */
}


.side_news_text {
  color: #168055;
}

.small_fs_ {
  font-size: 0.92rem;
}

/* .news_card_bg_image{
    max-width: 100%;
    max-height: 100%;
}
.news_card_bg_image {
  height: 300px;
  width: 300px;
} */
/* section 3 ==================================================*/

/* section 4 start =================================================== */

/* testmonials end*/

/* section 4 end =================================================== */

/* test rotating images start================================================== */
.slider{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s infinite linear;

  
}

@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.my-rotate-imgs-container{
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d ;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);

}

.slider span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
  

}

.slider span:hover img{

  transform: translate(-50px) scale(1.2)

}

/* test rotating images end ======================================================*/

/* test monials start================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #ffff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

/* from me */

.personDiv {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.personDiv img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image within the circle */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.persons {
  width: 100%; /* Adjust to your preference */
  height: 100%; /* Adjust to your preference */
  border-radius: 50%;
}

.quote {
  width: 50px;
  height: 50px;
  opacity: 0.7;
  position: absolute;
  top: 12px;
  right: 30px;
}

.justifiedtext {
  text-align: justify;
  font-size: 14px;
  margin-top: 80px;
}



::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* body {
  font-size: 1.6rem;
  background: var(--bg);
} */

.testmonial_container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}



.bgcolor{
  background-color: #ffffff;
  border-radius: 15px;
}

.section-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 3.4rem;
  padding: 2rem 0;
}

#tranding {
  /* padding: 4rem 0; */
  background-color: #168055;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 40rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}


/* when is active the slide or not ========== start ===========*/
.tranding-slide {
  width: 37rem;
  height: 30rem;
  position: relative;
  opacity: 0.7;
  transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
}



/* it is mission */
.tranding-slide-active {
  opacity: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add box shadow to the active slide */
  transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
}

/* blur the texts in active slides*/
.align .personalTestmonial h5{
  color: transparent;
  text-shadow: 0 0 8px #000;
}

.align .testInfo{
  color: transparent;
  text-shadow: 0 0 8px #000;
}
.align .personalTestmonial span{
  color: transparent;
  text-shadow: 0 0 8px #168055;
}

/* Unblur the active texts*/
.tranding-slide-active .align .personalTestmonial h5 {
  color: #000;
  text-shadow: none; 
} 

.tranding-slide-active .align .testInfo{
  color: #000;
  text-shadow: none;
}
.tranding-slide-active .align .personalTestmonial span{
  color: #168055;
  text-shadow: none;
}


/* Blur the image in inactive slides */
.tranding-slide .responsive-div img {
  filter: blur(8px); /* Adjust the blur intensity as needed */
}

/* Unblur the active image */
.tranding-slide-active .responsive-div img {
  filter: blur(0);
}

/* ================= end ================= */

/* footer style */
.footerHead{
  color: #fff;
  font-weight: bold;
}
.footertxt li{
  color: #E6E7E8;
}
.footertxt a{
  color: #E6E7E8;
}
.follow{
  color: #E6E7E8;
  font-weight: bold;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}


.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.responsive-div {
  width: 50%;  /* Preferred width */
  height: auto;  /* Adjusts height automatically */
  max-width: 500px;  /* Maximum width */
  max-height: 300px;  /* Maximum height */
  min-width: 200px;  /* Minimum width */
  min-height: 100px;  /* Minimum height */
  /* Add other styling as needed */
}

.graduators_img{
  border-radius: 50%; object-fit: cover;
  width: 200px;
  height: 200px;
  /* Make shadow  */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adjust blur/spread */
  transition: box-shadow 0.3s ease; /* Smooth hover effect (optional) */
}
.graduators_img:hover{
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15); /* Hover effect */
  cursor: pointer;
}

.text-blue{
  color: #2e84b6;
}
/* test monials end ======================================================*/


/* facts and figures */
.facts_and_figures_icon {
  font-size: 70px;
}

/* facts and figures */


/* fooooooooooooooooooooooooterssssssssssssssssssssssssss============================ */
#footer-line {
  border-top: 1px solid #ffffff;
}

/* fooooooooooooooooooooooooterssssssssssssssssssssssssss============================ */