.green_color{
    color: #3fb950;
}

.black_card{
    background-color: #1f232d;
    border-radius: 3%;
    border: 2px solid #1f232d;
}
.black_blue_color{
    color: #33b3ae;

}

.blurred-circle {
    width: 10px; /* Size of the circle */
    height: 10px; /* Size of the circle */
    background-color: rgba(3, 129, 3, 0.582); /* Circle color */
    border-radius: 50%; /* Round the corners into a circle */
    box-shadow: 0 0 15px 5px green; /* Blur effect */
  }
/* border border-primary rounded p-1 */
.my_active_tap{
    border : 1px solid #0063cc;
    padding: 3px;
    border-radius: 5px;
}

.vision-gradient-text {
    background: linear-gradient(to left, rgb(0, 0, 248), #bfdbd0, #4bce9a);
    -webkit-background-clip: text;
    color: transparent;
    font-family: Arial, sans-serif; /* Choose your preferred font */
}


.vision-gradient-text2 {
    background: linear-gradient(to right, rgb(0, 0, 248), #168055, #4bce9a);
    -webkit-background-clip: text;
    color: transparent;
    font-family: Arial, sans-serif; /* Choose your preferred font */
}

.my_text_color {
    color: #168055 !important;
  }
.my_text_color_blue {
    color: #2e84b6 !important;
  }

  .my_text_color_semi_white {
    color: #dbdbdb !important;
  }

.fit-image {
    width: 100%;   /* Ensure the image takes up the full width of the div */
    height: 100%;  /* Ensure the image takes up the full height of the div */
    object-fit: cover; /* This makes the image cover the entire area without stretching. */
}

.gradient-hr {
    width: 50%;
    border: 0; /* Removes the default border */
    height: 4px; /* Thickness of the line */
    background-image: linear-gradient(to right, white, grey); /* Gradient from white to grey */
}


/* .objective_card {
    margin: 20px;
} */
/* Animation bg start */

/* .objective-container{
    z-index: 99;
} */
.card1{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: linear-gradient(to right, rgb(0, 0, 248), #168055, #4bce9a);
    animation: bacgroundChange 30s 5s infinite;
    
}
.squares{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.squares li{
    position: absolute;
    width: 20px;
    height: 20px;
    /* background-color: #2e84b6; */
    animation: goingUP 25s linear infinite;
    bottom: -150px;
    
}

.squares li:nth-child(1){
    left: 5%;
    width: 90px;
    height: 90px;  
    animation-delay: 4s;
    animation-duration: 18s;
}

.squares li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px; 
    animation-delay: 3s;
    animation-duration: 12s; 
}

.squares li:nth-child(3){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 5s;
    animation-duration: 21s;
}

.squares li:nth-child(4){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 1s;
}

.squares li:nth-child(5){
    left: 35%;
    width: 150px;
    height: 150px;  
    animation-delay: 5s;
}

.squares li:nth-child(6){
    left: 40%;
    width: 60px;
    height: 60px; 
    animation-delay: 0s;
    animation-duration: 16s; 
}

.squares li:nth-child(7){
    left: 50%;
    width: 25px;
    height: 25px;  
    animation-delay: 3s;
    animation-duration: 45s; 

}

.squares li:nth-child(8){
    left: 65%;
    width: 20px;
    height: 20px;  
    animation-delay: 0s;

}

.squares li:nth-child(9){
    left: 70%;
    width: 20px;
    height: 20px;  
    animation-delay: 2s;
}
.squares li:nth-child(10){
    left: 75%;
    width: 110px;
    height: 110px; 
    animation-delay: 3s;

}

.squares li:nth-child(11){
    left: 85%;
    width: 150px;
    height: 150px;  
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes goingUP{
    0%{
        bottom: -150px;
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        bottom: 1200px;
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes bacgroundChange{
    0%{
        background-color: #50b0e7;
    }
    20%{
        background-color: rgb(77, 167, 77);
        color: white;
    }
    40%{
        background-color: #3fa3dd;
        color: white;
    }
    50%{
        background-color: #168055;
        color: white;
    }
    60%{
        background-color: rgb(55, 133, 94);
        color: white;
    }
    70%{
        background-color: rgb(117, 101, 101);
        color: white;
    }
    80%{
        background-color: white;
        color: rgb(61, 61, 61);
    }
    90%{
        background-color: rgb(67, 126, 67);
        color: white;
    }
    100%{
        background-color: #4bce9a;
        color: white;
    }
}
/* Animation bg end */


.vertical-gradient-line {
    width: 5px; /* Width of the line */
    height: 1000px; /* Full height of the container */
    background: linear-gradient(to bottom, blue, green, white); /* Gradient from top (blue) to bottom (white) */
    margin: 0 auto; /* Center the line if the container is bigger */
  }

  /* Water Card Start*/
 
  /* Water Card end*/