{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/Accreditation.css')}}" />
{% endblock %}

{% block content %}


    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container text-center">
            <h1 class="display-1 v2_font" style="color: #062E6F;">
                Accreditation
            </h1>
            <p class="hu-hero-font fw-3 text-dark">
                Accredited by the Ministry of Culture and Higher Education of Somalia.
            </p>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-3 text-black">
                        Overview
                    </h1>

                    <div class="mb-3">
                        <img src="{{url_for('static', filename='img/public/Accreditation-Minister-of-education.jpg')}}"
                            class="card-img-top fit-image rounded-4 border shadow-5-strong"
                            alt="Hormuud University Mission Image" width="50px">
                    </div>

                    <p class="fs-5 text-dark">
                        Hormuud University is accredited by the Ministry of Culture and Higher Education of the Federal
                        Republic of Somalia. The university is registered as a private, non-profit higher education
                        institution with the mandate to create and disseminate knowledge through relevant research work
                        and abiding by the global standards of education.
                    </p>


                </div>
            </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}