{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}

    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                Cultivating  <br> Innovation<br>
                <h1 class="display-5 text-warning fw-bolder"> The Future of Sustainable Agriculture
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        Embrace the opportunity to work alongside experts in state-of-the-art facilities and research centers </h1>

                    <p class="fs-5 text-dark">
                        Embrace the opportunity to work alongside experts in state-of-the-art facilities and research centers, where you'll explore the complexities of agro-ecosystems, plant and animal biotechnology, and sustainable agricultural practices. Our commitment to innovation extends beyond the classroom, encouraging you to engage in groundbreaking research that addresses the pressing challenges of our time: climate change, food scarcity, and biodiversity loss.
                    </p>
                    <p class="fs-5 text-dark mt-5">
                        As a student of the Faculty of Agriculture, you'll not only gain the skills to thrive in a rapidly evolving field but also the insight to drive change and promote a healthier planet. Prepare to be at the forefront of agricultural innovation, where your work contributes to nourishing the world and preserving the earth for future generations.
                    </p>

                    <p class="fs-5 text-dark">
                        This vibrant and inspiring hero image captures the essence of our mission: to blend agricultural innovation with sustainability, showcasing the potential for growth, innovation, and sustainability within the field of agriculture.
                    </p>
                    

                    <h3 class="display-7 text-black mt-5">
                        The faculty currently offers the following degree programmes:
                    </h3>

                    <div class="mt-5 fw-bolder">
                        <ul>
                            <li><span class="me-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Department of Plant Protection
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Department of Animal Husbandry
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Department of Horticulture
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Department of Agronomy
                            </li>

                        </ul>

                    </div>

                    <div class="mt-5">

                        <p>
                            Join us at the Faculty of Agriculture, where we're sowing the seeds of a sustainable future. Here, tradition meets innovation in the vast fields of agricultural science, preparing you to make significant contributions to food security, environmental conservation, and sustainable development. Our comprehensive programs combine theoretical knowledge with practical, hands-on experience in modern farming techniques, biotechnology, and natural resource management.
                        </p>

                        <div class="mt-5">
                            <a class="btn btn-primary btn-lg fw-bold fs-4" href="how_to_apply.html" role="button">A<span
                                    class="text-lowercase ">pply now</span> </a>
                        </div>

                    </div>

                </div>



            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->


{% endblock %}