{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                Exploring the Human <br> Canvas<br>
                <h1 class="display-5 text-warning fw-bolder"> Creativity and Insight
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        The Journey Through Arts & Social Sciences </h1>

                    <p class="fs-5 text-dark">
                        welcome to the Destination of Knowledge, where we have a dedicated staff, caring mentors and
                        hardworking students who are passionate about what they are doing, teaching and learning. The
                        Faculty is an excellent center that provides students with positive, challenging but rewarding
                        learning experiences and relatively vibrant environment
                    </p>
                    <p class="fs-5 text-dark mt-5">
                        Embark on a journey of discovery at the Faculty of Arts & Social Sciences, where the breadth of
                        human knowledge and creativity knows no bounds. Here, passion for the arts meets the rigor of
                        social sciences, fostering a unique blend of critical thinking, creative expression, and
                        cultural understanding.
                    </p>

                    <p class="fs-5 text-dark">
                        In our vibrant academic community, students are encouraged to explore the depths of human
                        experience, from the aesthetic beauty of the arts to the complex dynamics of society. Through a
                        curriculum that spans literature, philosophy, history, sociology, and more, you'll develop a
                        comprehensive understanding of the world around you and your place within it.
                    </p>
                    <p class="fs-5 text-dark">
                        Our faculty is committed to nurturing your intellectual curiosity and empowering you to make a
                        meaningful impact. Whether you're debating philosophical ideas, analyzing the socio-political
                        landscape, or expressing your creativity through art, you'll find a supportive environment that
                        celebrates diversity and encourages innovation.
                    </p>


                    <h3 class="display-7 text-black mt-5">
                        The FASS offers so far, a degree of Bachelor in the following Departments:
                    </h3>

                    <div class="mt-5 fw-bolder">
                        <ul>
                            <li><span class="me-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Department of Public Relations
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Department of Mass Communication
                            </li>

                        </ul>

                    </div>

                    <div class="mt-5">

                        <p>
                            Join the Faculty of Arts & Social Sciences and become part of a community where the pursuit
                            of knowledge and the expression of ideas pave the way for a brighter, more inclusive future.
                            Your journey here is not just about acquiring a degree—it's about enriching your mind and
                            shaping the world with your insights and creativity.
                        </p>

                        <div class="mt-5">
                            <a class="btn btn-primary btn-lg fw-bold fs-4" href="how_to_apply.html" role="button">A<span
                                    class="text-lowercase ">pply now</span> </a>
                        </div>

                    </div>

                </div>



            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}