{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                Unlocking the <br> Digital Future<br>
                <h1 class="display-5 text-warning fw-bolder"> A Journey Through
                </h1>
            </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        Collaborate with peers and industry leaders in our cutting-edge labs, where ideas flourish and
                        the next big tech breakthroughs are born.
                    </h1>
                    <p class="fs-5 text-dark mt-5">
                        Welcome to the faculty of Computer Science and Information Technology of Hormuud University
                        thrives the educational background that enables the students of sciences and technology to gain
                        the required knowledge and experience through which they will be able to work any field related
                        to Computer Science and Information Technology. </p>
                    <p class="fs-5 text-dark">
                        Even though the Computer Science and Information Technology are very challenging in Somalia we
                        have being able to become one of the top leading universities in these fields through faculty
                        instructors who have the required academic experience of teaching to deliver. The best practices
                        and to achieve the maximum objectives, this practices can be seen from the Computer Science and
                        IT labs that are busy with students performing programs in different fields on Computer Science
                        and IT to practice the materials being thought in the class with the help of the lab engineers
                        that are ready to fulfill the student needs.
                        <br>
                        We have very rich library full of Computer Science and IT books to make sure the students have
                        the best reference books to flow.
                    </p>


                    <h3 class="display-7 text-black mt-5">
                        The faculty currently offers the following degree programmes: </h3>

                    <div class="mt-5 fw-bolder">
                        <ul>
                            <li><span class="me-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Information Technology
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Computer Science
                            </li>

                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Data Science
                            </li>

                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Software Engineering
                            </li>


                        </ul>

                    </div>

                    <div class="mt-5">

                        <p>
                            Join us, and unlock your potential to innovate, disrupt, and shape the future of technology.
                            Your adventure into the digital world starts here, at the crossroads of curiosity,
                            creativity, and critical thinking.
                        </p>

                        <div class="mt-5">
                            <a class="btn btn-primary btn-lg fw-bold fs-4" href="how_to_apply.html" role="button">A<span
                                    class="text-lowercase ">pply now</span> </a>
                        </div>

                    </div>

                </div>



            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}