{% extends 'public/public_layout.html' %}
{% block title %} HU | Deputy Vice President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}

    <!-- from here content -->

    <section>
        <div class="container  mb-5">
            <div class="row p-1 justify-content-center pb-5">
                <div class="col-12 col-md-10 mt-5">
                    <h1 class="display-1 text-dark" style="font-size: 18px;">Message from the Vice President for Academics
Hormuud University
</h1>
                    <h1 class="display-5 text-dark mt-4">
                        Leading the Way in Academic Progress and National Development
                    </h1>

                    <div class="container pre-container mt-5">
                        <!-- <img class="image rounded-circle" src="{{url_for('static', filename='img/public/President-image.jpg')}}" alt="Profile Picture"
                            width="60" height="60"> -->
                        <div>
                            <p class="pre-name ms-2 text-primary">Dr. Abdimahad Abshir Arale</p>
                            <p class="pre-title ms-2">Vice President for Academics</p>
                        </div>
                    </div>

                    <!-- <div class="mt-5 border border-2 border-primary rounded-3 p-1">
                        <img src="{{url_for('static', filename='img/public/President-image.jpg')}}" class="card-img-top rounded" alt="..." width="50">
                    </div> -->

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 mt-5 card-text display-6"
                            style="font-size: 15px; letter-spacing: 1px;">
                            <p class="">
                                Dear Students, Faculty, and Partners, <br />
It is with great pride and purpose that I address you on behalf of the Academic Division of Hormuud University.

                            </p>
                            <p class="card-text">
                                Since its establishment in 2010, Hormuud University has made significant strides in advancing higher education in Somalia. With seven active faculties, over twenty departments, and a steadily growing student body, we continue to provide academically rigorous and industry-relevant programs that shape the future leaders of our nation.
                            </p>
                            <p class="card-text">
                                Our commitment to quality education is reflected in our expanding research efforts, regional and international partnerships, and our pursuit of innovation in teaching and learning. Despite facing challenges in resources and infrastructure, we remain focused on enhancing academic excellence, staff development, and student support.
                            </p>
                            <p class="card-text">
                                As we move forward, the Academic Affairs Office will continue to prioritize curriculum development, investment in learning facilities, and the implementation of digital tools to improve educational outcomes. We are equally dedicated to fostering a learning environment grounded in equity, integrity, and continuous improvement.
                            </p>
                            <p class="card-text">
                                Thank you to our students, faculty, administrative team, and collaborates whose dedication and collaboration fuel our mission. Together, we will continue building a strong, knowledge-driven Somalia.
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- to here content end -->

{% endblock %}