{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                Global Leaders <br> in Finance<br>
                <h1 class="display-5 text-warning fw-bolder"> Shaping the Future with Economics & Management Sciences
                </h1>
            </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        Welcome to the Faculty of Economics and Management Sciences (FEMS), at Hormuud University. The
                        FEMS is one of the developer Faculties at Hormuud University. </h1>
                    <p class="fs-5 text-dark mt-5">
                        The Faculty aims to continuously strengthen its position as the leading institution in the
                        fields of Economics, Financial and Management Sciences through its academic and research
                        excellence. At the same time the Faculty remains committed to delivering competent, creative,
                        responsible and productive citizens (Thought Leaders) of Hormuud University.
                    </p>
                    <p class="fs-5 text-dark">
                        Embark on a transformative journey at the Faculty of Economics & Management Sciences, where we
                        cultivate leaders poised to navigate the complexities of the global economy. In a world defined
                        by rapid change and endless possibilities, our programs offer a blend of theoretical depth and
                        practical insight, preparing you to make meaningful impacts in business, finance, and beyond.
                    </p>
                    <p class="fs-5 text-dark">
                        Our curriculum is designed to challenge and inspire, fostering a deep understanding of economic
                        principles, management strategies, and the dynamics of the marketplace. Through a combination of
                        rigorous coursework, real-world case studies, and collaborative projects, you'll develop the
                        analytical skills, strategic thinking, and innovative vision required to lead in the 21st
                        century.
                    </p>


                    <h3 class="display-7 text-black mt-5">
                        The faculty currently offers the following degree programmes:
                    </h3>

                    <div class="mt-5 fw-bolder">
                        <ul>
                            <li><span class="me-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Islamic Banking and Finance
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Logistics and Procurement
                            </li>

                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Business Administration
                            </li>

                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Public Administration
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Islamic Economics
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Accounting
                            </li>


                        </ul>

                    </div>

                    <div class="mt-5">

                        <p>
                            Join a community of scholars and professionals committed to excellence, ethics, and
                            innovation. With access to cutting-edge research, global internships, and a vibrant network
                            of alumni, your education at the Faculty of Economics & Management Sciences is not just
                            about acquiring knowledge—it's about shaping the future.
                        </p>

                        <div class="mt-5">
                            <a class="btn btn-primary btn-lg fw-bold fs-4" href="how_to_apply.html" role="button">A<span
                                    class="text-lowercase ">pply now</span> </a>
                        </div>

                    </div>

                </div>



            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}