{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}

{% endblock %}

{% block content %}
    <!-- from here content -->


    <!-- The hero sestion -->
    <section class="mb-5">
        <div class="col d-none d-lg-block">
            <img src="{{url_for('static', filename='img/public/hu_educational_goals.png')}}" class="card-img-top fit-image"
                alt="Hormuud University Mission Image">
        </div>

        <div class="col d-lg-none">
            <img src="{{url_for('static', filename='img/public/hu_educational_goals2.png')}}" class="card-img-top fit-image"
                alt="Hormuud University Mission Image">
        </div>

        <div class="container mt-1 mt-lg-5 pt-5 pb-5">
            <h1 class="display-3 text-primary text-center">
                Transforming students through rigorous and sustained academic study enriched by co-curricular and
                residential experiences.
            </h1>
            <p class="mt-5 text-black text-center fw-lighter" style="font-size: 15px;">
                Through a tapestry of rigorous academics, enriching co-curricular activities, and immersive residential
                experiences, we ignite the spark of transformation within each student. We provide the fertile ground
                for intellectual growth, personal development, and the blossoming of well-rounded individuals ready to
                embrace the world with confidence and purpose.
            </p>

            <div class="mt-5 pt-5">
                <h1 class="display-3 text-primary text-center mt-5 fw-bold">
                    Hormuud University students will
                </h1>
            </div>

        </div>


        <div class="container mt-5">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-5">
                <div class="col border-end border-2 mb-3">
                    <h1 class="text-center text-danger">Interdisciplinary Synthesis and Practice</h1>
                    <p class="mt-5 text-center fw-light text-black">
                        Integrate and synthesize a series of knowledge, viewpoints, and creative methods acquired
                        through learning and practice across multiple disciplines and different educational experiences.
                    </p>

                    <div class=" mt-5 pt-5 ">
                        <div class="">
                            <img src="{{url_for('static', filename='img/public/educational_goals_computer.png')}}" class="card-img-top fit-image"
                                alt="Hormuud University Mission Image">
                        </div>
                    </div>


                </div>

                <div class="col border-end border-2 mb-3">
                    <h1 class="text-center text-success mt-5 pt-4">Cultural Competence and Global Awareness</h1>
                    <p class="mt-5 text-center fw-light text-black">
                        Develop knowledge and skills to explain the commonalities and differences between human
                        societies, including different cultural views and traditions in Somalia and internationally, to
                        enable living and working effectively in a global context.
                    </p>

                    <div class=" mt-5 pt-5 ">
                        <div class="">
                            <img src="{{url_for('static', filename='img/public/engineering_educational_goals.png')}}" class="card-img-top fit-image"
                                alt="Hormuud University Mission Image">
                        </div>
                    </div>
                </div>
                <div class="col border-end border-2 mb-3">
                    <h1 class="text-center" style="color: #8661c5;">Research Proficiency and Methodological Application
                    </h1>
                    <p class="mt-5 text-center fw-light text-black">
                        Through in-depth research on a subject, learn, integrate, and apply knowledge and methodological
                        methods.
                        Understand the importance of self-assessment, ethical reasoning, and effective interaction with
                        others, and develop their ability to act responsibly and promote justice in professional and
                        community life.
                    </p>

                    <div class=" mt-5 pt-5 ">
                        <div class="">
                            <img src="{{url_for('static', filename='img/public/research_educational_goals.png')}}" class="card-img-top fit-image"
                                alt="Hormuud University Mission Image">
                        </div>
                    </div>


                </div>
                <div class="col mb-3">
                    <h1 class="text-center text-primary mt-5 pt-4">Critical Communication and Information Skills</h1>
                    <p class="mt-5 text-center fw-light text-black">
                        Develop critical thinking skills to evaluate arguments and address complex issues using
                        techniques, including quantitative and qualitative analysis and scientific reasoning.
                        Develop skills in oral and written communication to articulate ideas and arguments clearly and
                        effectively.
                        Develop information literacy and technological competency across disciplines.
                    </p>

                    <div class=" mt-5 pt-5 ">
                        <div class="">
                            <img src="{{url_for('static', filename='img/public/communication_skills_educational_goals.png')}}"
                                class="card-img-top fit-image" alt="Hormuud University Mission Image">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card shadow-0">
            <div class="col-12 col-lg-6 text-center  align-self-center mb-5 mt-5 d-lg-none">
                <h1 class="ms-3 text-primary fw-bold">Empower holistic development</h1>
                <p class="ms-3 mt-5 text-black">
                    Foster comprehensive growth with cross-disciplinary skills, cultural understanding, research
                    prowess, and communication mastery for global competence and ethical guidance.
                </p>
                <a href="{{url_for('how_to_apply')}}" class="btn btn-primary ms-3 border-0 rounded-0 shadow-0 fs-6 mt-3">A<span
                        class="text-lowercase">pply
                        now</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </div>
            <img src="{{url_for('static', filename='img/public/educational_goals_ardts_sudents.png')}}" class="card-img d-none d-lg-block" alt="...">
            <img src="{{url_for('static', filename='img/public/educational_goals_ardts_sudents2.png')}}" class="card-img d-lg-none" alt="...">
            <div class="card-img-overlay d-flex align-items-center">
                <div class="row  d-none d-lg-block">
                    <div class="col-6">
                        <h1 class="text-start ms-3 text-primary fw-bold">Empower holistic development</h1>
                        <p class="ms-3 mt-5 text-black">
                            Foster comprehensive growth with cross-disciplinary skills, cultural understanding, research
                            prowess, and communication mastery for global competence and ethical guidance.
                        </p>
                        <a href="{{url_for('how_to_apply')}}" class="btn btn-primary ms-3 border-0 rounded-0 shadow-0 fs-6 mt-3">A<span
                                class="text-lowercase">pply
                                now</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </section>



    <!-- to here content end -->

{% endblock %}