{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
                <h1 class="display-1 v2_font">
                    Engineering <br> the Future<br>
                    <h1 class="display-5 text-warning fw-bolder"> Where Innovation Meets Impact
                    </h1>
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        Dive into the heart of innovation at the Faculty of Engineering, where your dreams of designing the future become a reality. 
                    </h1>
                    <p class="fs-5 text-dark mt-5">
                        Welcome to the Faculty of Engineering at Hormuud University. We feel proud that among all private universities in Somalia we are the pioneer in establishing the graduate programs in Telecommunication, Electrical, Mechanical, Computer Engineering and Civil Engineering.                    </p>
                    <p class="fs-5 text-dark">
                        The Faculty provides education characterized by quality and relevance. Students enrolled in our programs take balance set of modules to obtain a solid foundation in engineering and general education. Our Students undergo industrial and vacation training to acquire and sharpen their technical and communication skills. 
                    </p>
                    <p class="fs-5 text-dark">
                        Our programs develop the knowledge and professional skills of our students, for careers that lead the future development of Electronics, Communications, Mechanical, Civil Engineering and Computing technologies. The university has developed numerous lab facilities for the students, which includes Communication lab, Computer lab, Internet and simulation lab, Electronics lab, Circuit, and measurement lab, Microprocessor lab, Physics lab, Civil Engineering labs as well as Geology labs. <br>
                        Highly qualified academic members are leading the faculty (most of them completed their higher education from renowned universities in the world).
                    </p>
                    
                    <h3 class="display-7 text-black mt-5">
                        The faculty currently offers the following degree programmes:
                    </h3>

                    <div class="mt-5 fw-bolder">
                        <ul>
                            <li><span class="me-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Bachelor of Science in Electrical Engineering.
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Bachelor of Science in Telecommunication Engineering.
                            </li>
                            
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Bachelor of Science in Mechanical Engineering.
                            </li>
                            
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Bachelor of Science in Civil Engineering.
                            </li>
                            
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Bachelor of Science in Chemical Engineering.
                            </li>
                            
                            
                            
                        </ul>

                    </div>

                    <div class="mt-5">

                        <p>
                            Join us at the Faculty of Engineering, where we're not just teaching the next generation of engineers—we're inspiring the innovators who will build a better future for all. Your journey starts now: a path of discovery, innovation, and endless possibilities.
                        </p>

                        <div class="mt-5">
                            <a class="btn btn-primary btn-lg fw-bold fs-4" href="how_to_apply.html" role="button">A<span class="text-lowercase ">pply now</span> </a>
                        </div>
                        
                    </div>
                    
                    </div>

                    

                </div>
            </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}