{% extends 'public/public_layout.html' %}
{% block title %} HU | FAQ

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- hero sestion start -->
    <section class="mb-5">

        <div class="container">
            <img src="/static/img/public/FAQ-hero img.png" class="card-img-top rounded p-0" alt="UH-FQ-picture">
            <!-- <img src="static/img/FAQ-hero img.png" class="card-img-top rounded p-0" alt="UH-FQ-picture"> -->
        </div>
        <div class="container mt-0 mt-lg-5 pb-5">
            <div class="row  mt-2 p-2">
                <div class="col-md-12 col-lg-4 align-self-center mb-3">
                    <h1 class="display-6 v2_font text-success">
                        No Worries, We've Got You Covered: <span class="display-4 text-primary fw-bolder v2_font">
                            HU FAQs at Your Fingertips.</span>
                    </h1>
                </div>
                <div class="col mb-3">
                    <h1 class="display-6 fw-lighter text-black d-none d-lg-block">
                        Hormuud University FAQs
                    </h1>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button data-mdb-collapse-init class="accordion-button" type="button"
                                    data-mdb-toggle="collapse" data-mdb-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Getting Started
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseOne" aria-expanded="false"
                                                    aria-controls="flush-collapseOne">
                                                    How can I become a lecturer in HU?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Our school offers several graduate programs leading to lecture
                                                    certification. You can read about these programs in greater
                                                    detail online, and you can also attend a weekly information session
                                                    to learn more about the application process.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseTwo" aria-expanded="false"
                                                    aria-controls="flush-collapseTwo">
                                                    What are the differences between the certifications and degrees
                                                    offered?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingTwo"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <h4 class="text-muted">
                                                        Bachelor of Science (BS)
                                                    </h4>
                                                    <p>
                                                        The BS degree is for those seeking the first college degree
                                                        typically focusing on an area related to science.
                                                    </p>
                                                    <h4 class="text-muted">
                                                        Professional Certificate
                                                    </h4>
                                                    <p>
                                                        Professional certificates are granted at a national level
                                                        through an outside organization and are specific to an area of
                                                        focus.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseThree" aria-expanded="false"
                                                    aria-controls="flush-collapseThree">
                                                    When did the HU Faculty of Engineering start?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingThree"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    HU’s Faculty of Engineering, from its humble beginnings in 2010 was
                                                    known as Faculty of Engineering with only six departments and now
                                                    has grown into one of the best engineering faculties in Somalia. To
                                                    date, the faculty has six exciting departments offering six Bachelor
                                                    programs, with enrollment of over 3000 for undergraduate students.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseFour" aria-expanded="false"
                                                    aria-controls="flush-collapseFour">
                                                    How many Departments are in the engineering faculty?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFour"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Currently Faculty of Engineering has 6 departments; Department of
                                                    Telecommunication Engineering, Department of Electrical Engineering,
                                                    Department of Civil Engineering, Department of Mechanical
                                                    Engineering, Department of Chemical Engineering and Department of
                                                    Geology & Mining.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFive">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseFive" aria-expanded="false"
                                                    aria-controls="flush-collapseFive">
                                                    How to book facilities at the Faculty of Engineering?

                                                </button>
                                            </h2>
                                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFive"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div>
                                                        We have a range of great facilities and we have a very conducive
                                                        environment for staff in Hormuud university and students. We
                                                        also provide rental services for laboratories and facilities.
                                                        Contact Person:
                                                    </div>
                                                    <div class="mt-4">
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item ps-0 text-black">Eng. Mohamed
                                                                Saed Yusuf</li>
                                                            <li class="list-group-item ps-0 text-black">Dean's Office
                                                            </li>
                                                            <li class="list-group-item ps-0 text-black">Faculty of
                                                                Engineering</li>
                                                            <li class="list-group-item ps-0 text-black">Hormuud
                                                                University.</li>
                                                            <li class="list-group-item ps-0 text-black">Tel:
                                                                +252-619156769</li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse" data-mdb-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Applying
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- child accordion start -->
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne2">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseOne2" aria-expanded="false"
                                                    aria-controls="flush-collapseOne2">
                                                    What are entry requirements?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne2" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne2"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Entry requirements vary between universities– a full list of
                                                    universities and their minimum entry criteria can be found in our
                                                    search tool. If you are unsure, you meet a university criterion, it
                                                    is best to contact their admissions team for further guidance. More
                                                    information can be found on our entry requirements web page.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo2">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseTwo2" aria-expanded="false"
                                                    aria-controls="flush-collapseTwo2">
                                                    How can I update my name, date of birth or passport details?

                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo2" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingTwo2"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Please complete our update my details form and we'll do this for
                                                    you. For name and date of birth changes, you need you to attach a
                                                    clear photo or scanned copy of an official document showing your
                                                    birth certificate or passport. As long as we’ve got everything we
                                                    need, we’ll update your details and the changes will display in
                                                    Track. It's important you also let your universities and colleges
                                                    know.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree2">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseThree2" aria-expanded="false"
                                                    aria-controls="flush-collapseThree2">
                                                    I’m having trouble paying for my application – what should I do?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree2" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingThree2"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    To be able to pay and complete your application, every section must
                                                    be ticked as complete. If you're applying independently, that
                                                    includes your referee submitting. Please avoid clicking multiple
                                                    times as this can also cause problems. If it locks your payment
                                                    attempts, this will reset automatically after two minutes.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour2">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseFour2" aria-expanded="false"
                                                    aria-controls="flush-collapseFour2">
                                                    Which transcript(s) should I submit?

                                                </button>
                                            </h2>
                                            <div id="flush-collapseFour2" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFour2"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Official transcripts from all secondary institutions are required
                                                    for admission.
                                                    * Please note, students must submit official transcripts requested
                                                    from the Minister of Education.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- child accordion end -->

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse" data-mdb-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Student
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- child accordion start -->
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne3">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseOne3" aria-expanded="false"
                                                    aria-controls="flush-collapseOne3">
                                                    Will there be Hormuud University staff receiving me at the airport
                                                    upon arrival in Mogadishu?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne3" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne3"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    There will not be any representatives or transportation from the
                                                    Hormuud University at the airport when you arrive. You will need to
                                                    take the public transport such as tuk tuk to the University on your
                                                    own. Nevertheless, a pick up schedule for all new undergraduate
                                                    students at the beginning of each semester. The pick-up arrangement
                                                    should be done at least two weeks before arriving to Mogadishu by
                                                    contacting Hormuud University staff and sending copy of the offer
                                                    letter and students’ flight details.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo4">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseTwo4" aria-expanded="false"
                                                    aria-controls="flush-collapseTwo4">
                                                    Will Hormuud University provide me with student visa and when can I
                                                    get them?


                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo4" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingTwo4"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Yes. Hormuud University will provide you with student visa if your
                                                    application is successful and when you have officially registered as
                                                    a student in the university. New students are advise apply for VDR (
                                                    Visa With Reference) and arrange the visa matters with Visa Unit
                                                    prior of their coming to Mogadishu-Somalia.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree5">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseThree5" aria-expanded="false"
                                                    aria-controls="flush-collapseThree5">
                                                    Do I need to have English qualification to apply for Hormuud
                                                    University?

                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree5" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingThree5"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Hormuud University requires you have an A Level or O Level in
                                                    English qualifications. Nevertheless, if you do not have any of
                                                    the above qualifications, you can still apply as usual but if your
                                                    application is accepted, you will be required to provide one of
                                                    the above English requirements.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour6">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseFour6" aria-expanded="false"
                                                    aria-controls="flush-collapseFour6">
                                                    How do I obtain a transcript?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseFour6" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFour6"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        The Examinations Section requires a written and signed request
                                                        in
                                                        order to process and release a copy of your academic transcript.
                                                    </p>

                                                    <p>
                                                        Your written request should detail your name as stated in your
                                                        degree; degree awarded and year of graduation; the copies of
                                                        transcripts you require; the address for posting of transcripts.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour7">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseFour7" aria-expanded="false"
                                                    aria-controls="flush-collapseFour7">
                                                    Is there a fee? How do I apply?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseFour7" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFour7"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Every applicant who is applying for an Academic Transcript will be
                                                    charged a fee of $50 Payment must be made via Salaam Somali Bank.
                                                    A copy of the applicant's Identity Card must be attached with the
                                                    application. A small fee may be charged for posting transcripts to
                                                    overseas addresses. Payment by credit card or in foreign currencies
                                                    <strong>
                                                        is NOT accepted.
                                                    </strong>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- child accordion end -->
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour3">
                                <button data-mdb-collapse-init class="accordion-button collapsed" type="button"
                                    data-mdb-toggle="collapse" data-mdb-target="#collapseFour3" aria-expanded="false"
                                    aria-controls="collapseFour3">
                                    Billing or Financial Aid
                                </button>
                            </h2>
                            <div id="collapseFour3" class="accordion-collapse collapse" aria-labelledby="headingFour3"
                                data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- child accordion start -->
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne3">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseOne3" aria-expanded="false"
                                                    aria-controls="flush-collapseOne3">
                                                    Where can I find out about funding?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne3" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne3"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    We don’t arrange student finance, but you can choose to allow us to
                                                    share some of the details from your application with your regional
                                                    funding organization. Further advice on funding available for HU
                                                    undergraduates and information on how to apply for this can be found
                                                    on the undergraduate student finance section of our website.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo4">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseTwo4" aria-expanded="false"
                                                    aria-controls="flush-collapseTwo4">
                                                    Where should I direct questions about my bill?

                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo4" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingTwo4"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Please contact the Finance office. Email: Office: +252852804
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree5">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseThree5" aria-expanded="false"
                                                    aria-controls="flush-collapseThree5">
                                                    What is the tuition?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree5" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingThree5"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    To view the current tuition rates and fees, please visit the Tuition
                                                    and Financial Aid page on our website.To view the current tuition
                                                    rates and fees, please visit the Tuition and Financial Aid page on
                                                    our website.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour6">
                                                <button data-mdb-collapse-init class="accordion-button collapsed"
                                                    type="button" data-mdb-toggle="collapse"
                                                    data-mdb-target="#flush-collapseFour6" aria-expanded="false"
                                                    aria-controls="flush-collapseFour6">
                                                    What sources of financial aid exist?


                                                </button>
                                            </h2>
                                            <div id="flush-collapseFour6" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFour6"
                                                data-mdb-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Undergraduate students - Please refer to the Office of Admissions
                                                    and Financial Aid. Graduate students - Many aid programs that are
                                                    available to undergraduate students are not offered to graduate
                                                    students. Therefore, if eligible, many students finance their
                                                    graduate education through the aid programs.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- child accordion end -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>
    <!-- hero sestion end -->


    <!-- to here content end -->

{% endblock %}