{% extends 'public/public_layout.html' %}
{% block title %} HU | Finance Office

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <section>
        <div class="container  mb-5">
            <div class="row p-1 justify-content-center pb-5">
                <div class="col-12 col-md-10 mt-5">
                    <h1 class="display-1 text-dark" style="font-size: 18px;">A message from finance office </h1>
                    <h1 class="display-5 text-dark mt-4">
                        EMPOWERING STUDENTS THROUGH FINANCIAL FLEXIBILITY
                    </h1>

                    <div class="container pre-container mt-5">
                        <img class="image rounded-circle d-none" src="{{url_for('static', filename='img/public/President-image.jpg')}}" alt="Profile Picture"
                            width="60" height="60">
                        <div>
                            <p class="pre-name ms-2 text-primary">Mr, Abdullahi Mohamed Ali </p>
                            <p class="pre-title ms-2">Chief Finance, Hormuud University</p>
                        </div>
                    </div>

                    <div class="mt-5 border border-2 border-primary rounded-3 p-1 d-none">
                        <img src="{{url_for('static', filename='img/public/President-image.jpg')}}" class="card-img-top rounded" alt="..." width="50">
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 mt-5 card-text display-6"
                            style="font-size: 15px; letter-spacing: 1px;">
                            
                            <p class="card-text">
                                <h5>Dear Students, Parents, and University Stakeholders,</h5>
                                The Finance Office of Hormuud University is pleased to share an important update regarding our tuition fee structure. In line with our continued efforts to enhance access to higher education, we have introduced a revised and more flexible tuition policy designed to ease financial pressure while upholding academic excellence.
                            </p>
                            <p class="card-text">
                                As part of Hormuud University’s vision to deliver inclusive, high-quality education that empowers individuals and contributes to national development, we are committed to removing barriers to enrollment and retention, ensuring that every student—regardless of background—has the opportunity to pursue their academic and professional aspirations in a supportive environment. Aligned with this mission, the Finance Office is dedicated to promoting financial transparency and accountability, ensuring efficient and effective resource management, supporting sustainable financial planning, and offering student-centered financial solutions that enhance access and encourage retention.
                            </p>
                            <p class="card-text">
                                As the department responsible for managing the university’s financial operations—including budgeting, accounting, payroll, planning, and reporting—the Finance Office remains committed to upholding transparency, eDfficiency, and strict compliance with all institutional policies to support the university’s overall goals.
                            </p>
                            <p class="card-text">
                               The updated fee schedule is thoughtfully designed to accommodate both full-time and part-time study modes, enabling students from diverse financial backgrounds to confidently pursue their academic goals. Below is the tuition structure organized by faculty:
                            </p>

                            <div class="mt-5 border border-2 border-primary rounded-3 p-1">
                                <img src="{{url_for('static', filename='img/public/finance-public-data.png')}}" class="card-img-top rounded" alt="..."
                                    width="50">
                            </div>

                            <p class="card-text mt-4">
                                This revised fee policy reflects our commitment to fostering an inclusive, student-centered academic environment that supports learning and growth for all. We encourage students and their families to review the information carefully and plan accordingly for the upcoming academic period. Should you have any questions or wish to explore financial support options, the Finance Office is ready to assist you every step of the way. Together, we can build a stronger, more accessible future for higher education.

                            </p>
                            <div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item ps-0 text-black"><i>Chief Finance </i></li>
                                <li class="list-group-item ps-0">Mr. Abdullahi Mohamed Ali</li>
                                <li class="list-group-item ps-0"> <a href="{{url_for('index')}}">HORMUUD UNIVERSITY</a></li>
                                <li class="list-group-item ps-0">finance@hu.edu.so</li>
                                </ul>
                            </div>


                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- to here content end -->

{% endblock %}