{% extends 'public/public_layout.html' %}
{% block title %} HU | Geoscience

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                Unearthing the Future <br> of Geoscience<br>
                <h1 class="display-5 text-warning fw-bolder"> Pioneering Sustainability with Geoscience & Environment
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        Exploring Earth, Preserving the Future: A Journey with Geoscience & Environment </h1>

                    <p class="fs-5 text-dark">Welcome to the Faculty of Geosciences and the environment at Hormuud
                        University.
                        <br>
                        The Faculty of Geosciences and the Environment is interested in the natural and/or anthropogenic
                        modifications of our planet, and more particularly in the Alpine areas and urban metropolises.
                        The consequences for humans, animal, and plant species are also part of his research fields.
                        The disciplines of geosciences and the environment are developing at the border between exact,
                        experimental, and human sciences; they are in essence transdisciplinary.
                    </p>

                    <p class="fs-5 text-dark">Embark on a journey of discovery and stewardship with the Faculty of
                        Geoscience & Environment, where we delve into the mysteries of our planet and strive to protect
                        its invaluable resources for future generations. Our programs offer a multidisciplinary approach
                        to understanding the Earth, from its deepest oceans to its highest peaks, and the complex
                        environmental systems that sustain life.Embrace the opportunity to work alongside experts in
                        state-of-the-art facilities and research centers, where you'll explore the complexities of
                        agro-ecosystems, plant and animal biotechnology, and sustainable agricultural practices. Our
                        commitment to innovation extends beyond the classroom, encouraging you to engage in
                        groundbreaking research that addresses the pressing challenges of our time: climate change, food
                        scarcity, and biodiversity loss.
                    </p>
                    <p class="fs-5 text-dark mt-5">
                        Through innovative research and hands-on fieldwork, you'll gain the knowledge and skills needed
                        to address some of the most pressing issues facing our world today: climate change, natural
                        resource management, and environmental sustainability. Our faculty is dedicated to fostering a
                        deep appreciation for the natural world and the importance of scientific inquiry in solving
                        environmental challenges.
                    </p>

                    <p class="fs-5 text-dark">
                        As part of our community, you'll have the opportunity to work alongside leading scientists in
                        state-of-the-art facilities, engage in transformative research projects, and contribute to
                        global efforts to ensure a sustainable future for our planet.
                    </p>


                    <h3 class="display-7 text-black mt-5">
                        The faculty currently offers the following degree programmes:
                    </h3>

                    <div class="mt-5 fw-bolder">
                        <ul>
                            <li><span class="me-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Geology
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Environmental Science
                            </li>

                        </ul>

                    </div>

                    <div class="mt-5">

                        <p>
                            Join us in our mission to explore Earth and preserve its beauty and biodiversity for
                            generations to come. Together, we can make a difference in understanding our world and
                            safeguarding its treasures.
                        </p>

                        <div class="mt-5">
                            <a class="btn btn-primary btn-lg fw-bold fs-4" href="how_to_apply.html" role="button">A<span
                                    class="text-lowercase ">pply now</span> </a>
                        </div>

                    </div>

                </div>



            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}