{% extends 'public/public_layout.html' %}
{% block title %} HU | HRM

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <section>
        <div class="container-md   mb-5">
            <div class="row p-1 justify-content-center pb-5 ">
                <div class="col-12 col-md-10 mt-5">
                    <h1 class="display-1 text-dark" style="font-size: 18px;">A message from our Human Resources
                        Management director</h1>
                    <h1 class="display-5 text-dark mt-4">
                        Empowering Our Greatest Asset
                    </h1>

                    <div class="container pre-container mt-5">
                        <img class="image rounded-circle" src="{{url_for('static', filename='img/public/IbarahimMohamedAli-HRM.jpg')}}"
                            alt="Director of HRM" width="60" height="60">
                        <div>
                            <p class="pre-name ms-2 text-primary">Mr. Ibrahim Mohamed Ali </p>
                            <p class="pre-title ms-2">Director of HRM</p>
                        </div>
                    </div>

                    <div class="mt-5 border border-2 border-primary rounded-3 p-1">
                        <img src="{{url_for('static', filename='img/public/IbarahimMohamedAli-HRM.jpg')}}" class="card-img-top rounded"
                            alt="Director of HRM" width="50">
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10  mt-5 card-text display-6"
                            style="font-size: 15px; letter-spacing: .8px;">
                            <p class="">
                                Dear HU University Family,
                                As the Director of Human Resource Management (HRM), I am honored to address the
                                dedicated individuals who together constitute the lifeblood of our esteemed institution.
                                In the realm of HRM at HU University, we are guided by a profound recognition of our
                                staff as our most significant asset. It is through your unwavering commitment and
                                collective brilliance that we continue to excel in our academic and organizational
                                pursuits.

                            </p>
                            <p class="card-text">
                                Our HRM Office is deeply committed to not just maintaining, but elevating the caliber
                                and satisfaction of our workforce. We strive to create an environment where every
                                employee feels valued, supported, and inspired to achieve their utmost potential.
                            </p>
                            <p class="card-text">
                                <strong>Enhancing Our Work Structure and Culture Central </strong>

                                to our mission is the meticulous upkeep of our work structure, ensuring that job
                                requirements and descriptions are not only up to date but also reflective of the dynamic
                                needs of our university. This dedication extends to fostering a culture where feedback
                                and innovation are not just welcomed but are considered essential for our collective
                                success.
                            </p>
                            <p class="card-text">
                                <strong>Professional Development and Growth </strong>

                                We believe in the power of professional development to not only enhance individual
                                capabilities but also to elevate our university as a whole. From comprehensive
                                performance appraisal systems to targeted training and workshops, our commitment to your
                                growth is unwavering. These initiatives are designed to support you in achieving your
                                career aspirations while contributing to our shared goals.
                            </p>

                            <p class="card-text">
                                <strong>Recruitment, Retention, and Employee Relations </strong>

                                The foundation of our success lies in our ability to attract, develop, and retain
                                talented individuals. Our comprehensive recruitment and interviewing programs are
                                complemented by thoughtful exit interviews and continuous evaluation of our practices,
                                ensuring we remain an employer of choice. Negotiating fair salaries, contracts, and
                                working conditions, alongside administering benefits and ensuring a safe work
                                environment, are paramount in our efforts to appreciate and retain our valued staff.
                            </p>
                            <p class="card-text">
                                <strong>Empowering Our Community </strong>

                                In all our endeavors, from addressing grievances to implementing disciplinary
                                procedures, our focus remains on fairness, respect, and confidentiality. We work closely
                                with various departments, playing a consultancy role to facilitate the understanding and
                                implementation of policies and procedures that reflect our values and mission.
                            </p>

                            <p class="card-text">
                                <strong>Looking Forward </strong>

                                As we move forward, we remain committed to not only meeting but exceeding the
                                expectations of our university community. Our strategies for workforce planning, health
                                and safety, and employee relations are continually evolving to anticipate and meet the
                                needs of our diverse and talented team.
                            </p>

                            <p class="card-text">
                                In conclusion, the HRM Office at HU University is more than just a department; we are a
                                central hub for support, development, and innovation. Together, with your participation
                                and feedback, we will continue to foster a productive, inclusive, and enriching
                                workplace culture that is reflective of our shared vision and mission.
                                With deepest appreciation for your hard work and dedication,

                            </p>



                            <div>

                                <div class="mt-5 text-black fw-bold">
                                    Contact:-
                                    <h6 class="mt-3">
                                        hrm@hu.edu.so
                                    </h6>
                                    <h6>
                                        +252 61 5107568
                                    </h6>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- to here content end -->

{% endblock %}