{% extends 'public/public_layout.html' %}
{% block title %} HU | Inter Organisations

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/international_organizations.css')}}" />
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero ">

        <div class="container diff-right-darkness rounded" style="opacity: 0;" >
            <h1 class="display-1 v2_font" >
                International  <br> Organisations<br>
                <h1 class="display-5 text-warning fw-bolder">  Catalysts for global progress.
                </h1>

        </div>
        <div class="container diff-right-darkness rounded d-md-block d-lg-none" >
            <h1 class="display-1 v2_font" >
                International  <br> Organisations<br>
                <h1 class="display-5 text-warning fw-bolder">  Catalysts for global progress.
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4">
            <h1 class="display-6 text-black text-center">
                Beyond borders, beyond differences. Together, we rise.
            </h1>
            <div class="row  text-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 mt-5 ">
                <div class="col">
                    
                    <img src="{{url_for('static', filename='img/public/1o.png')}}" alt="Hormuud university International Organisations" loading="lazy"
                    width="200" height="200" />

                </div>
                <div class="col">
                    
                    <img src="{{url_for('static', filename='img/public/2o.png')}}" alt="Hormuud university International Organisations" loading="lazy"
                    width="200" height="200" />

                </div>
                <div class="col">
                    
                    <img src="{{url_for('static', filename='img/public/3o.png')}}" alt="Hormuud university International Organisations" loading="lazy"
                    width="200" height="200" />

                </div>
                <div class="col">
                    
                    <img src="{{url_for('static', filename='img/public/4o.png')}}" alt="Hormuud university International Organisations" loading="lazy"
                    width="200" height="200" />

                </div>
                <div class="col">
                    
                    <img src="{{url_for('static', filename='img/public/5o.png')}}" alt="Hormuud university International Organisations" loading="lazy"
                    width="200" height="200" />

                </div>
                <div class="col">
                    
                    <img src="{{url_for('static', filename='img/public/6o.png')}}" alt="Hormuud university International Organisations" loading="lazy"
                    width="200" height="200" />

                </div>
                <div class="col">
                    
                    <img src="{{url_for('static', filename='img/public/7o.png')}}" alt="Hormuud university International Organisations" loading="lazy"
                    width="200" height="200" />

                </div>

            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}