{% extends 'public/public_layout.html' %}
{% block title %} HU | International Patnerships

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/international_partnerships.css')}}" />
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                International <br> Partnerships<br>
                <h1 class="display-5 text-warning fw-bolder"> Global collaboration, limitless possibilities.
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4">
            <h1 class="display-6 text-black text-center">
                International partnerships: Where ideas cross borders and solutions take flight.
            </h1>
            <div class="row  text-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 mt-5 ">
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/1.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/2.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/3.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/4.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/5.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/6.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/7.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/8.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/9.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/0.png')}}" alt="Hormuud university logo" loading="lazy" width="200" height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/11.png')}}" alt="Hormuud university logo" loading="lazy" width="200"
                        height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/12.png')}}" alt="Hormuud university logo" loading="lazy" width="200"
                        height="200" />

                </div>
                <div class="col">

                    <img src="{{url_for('static', filename='img/public/10.png')}}" alt="Hormuud university logo" loading="lazy" width="200"
                        height="200" />

                </div>

            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->

    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">

                        University Partnerships

                    </h1>
                    <p class="fs-5 text-dark">
                        Hormuud University has developed a number of partnerships which are geographically spread and
                        culturally diverse.
                    </p>
                    <p class="fs-5 text-dark">
                        We recognize that collaborative partnerships provide unique opportunities for students to
                        benefit from higher education, and learn the knowledge and skills required to equip them for the
                        workplace.
                    </p>
                    <p class="fs-5 text-dark">
                        Hormuud University is an official member of many International, Regional and local Associations.
                    </p>
                    <h3 class="display-7 text-black mt-5">
                        Hormuud University is a member the following of international associations
                    </h3>

                    <div class="mt-5">
                        <ul>
                            <li><span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Association Of African Universities (AAU) Ghana
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Association of Arab Universities (AARU) Jordan
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                International Union of universities (IUU) Turkey
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                International Association of Universities (IAU) France
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>

                                Global University Network for Innovations (Gunni) Spain
                            </li>
                           

                        </ul>

                    </div>


                    <h3 class="display-7 text-black mt-5">
                        Hormuud University has signed MoU’s with a number of international institutions to collaborate on research and academic exchange. These include the following:
                    </h3>


                    <div class="mt-5">
                        <ul>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                University of Malaya, Malaysia
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Lincoln University College, Malaysia
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                IUBAT, Bangladesh
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Khartoum University, Sudan
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Kto Karatay University, Turkey
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Konya Food and Agriculture University, Turkey
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Ankara University, Turkey
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Uludag University, Turkey
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Sharda University, India
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                ​Lovely Professional University (LPU) India.
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Shenyang Aerospace University, China
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Dhurakij Pundit University
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Professional Evaluation Certification Board (PECB)
                            </li>


                        </ul>

                    </div>

                    <div class="mt-5">
                        <h6>
                            Hormuud University has collaborate with a number of local association institutions to collaborate on research and academic exchange. These include the following:
                        </h6>
                        <h6>
                            <span class="material-symbols-outlined">
                                done
                            </span>
                            Somali Research & Education Network – SomaliREN
                        </h6>
                        <h6>
                            <span class="material-symbols-outlined">
                                done
                            </span>
                            Association of Somali Universities – ASU
                        </h6>
                        <h6>
                            HU also partner with community companies like twin Companies, Hormuud Telecom, BuruujConstruction, and real estate Company, Salam Somali Bank, UBC (Coca-Cola) Somalia, BenadirElectric Company (BECO) and Tabaarak ICT solutions.
                        </h6>

                    </div>

                </div>
            </div>


        </div>

    </section>
    <!-- overview and information section end -->


    <!-- to here content end -->

{% endblock %}