{% extends 'public/public_layout.html' %}
{% block title %} HU | Leadership

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font text-end">
                الأخلاقية <br> تمكين القيادة الأخلاقية<br>
                <h1 class="display-5 text-warning fw-bolder text-end"> التميز في دراسات الشريعة والقيادة
                </h1>
            </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <p class="fs-5 text-dark text-end">انغمس في قلب القيادة الأخلاقية والمبدئية في كلية الشريعة
                        والقيادة، حيث تلتقي حكمة الشريعة الإسلامية الخالدة بتحديات القيادة المعاصرة. مهمتنا هي تنمية
                        قادة ليسوا فقط بارعين في تعقيدات الشريعة ولكن أيضًا يجسدون قيم العدالة والرحمة والنزاهة في كل
                        جانب من جوانب قيادتهم
                    </p>

                    <p class="fs-5 text-dark text-end">تم تصميم منهجنا الدراسي بعناية لتوفير فهم عميق للفقه الإسلامي جنبًا إلى جنب مع مهارات القيادة الحرجة، مما يعد الطلاب لإحداث تأثير إيجابي في مجموعة متنوعة من المجالات، بما في ذلك القيادة القانونية والمجتمعية والتنظيمية. من خلال تجارب التعلم الغامرة، يكتسب الطلاب المعرفة والإطار الأخلاقي اللازم للتنقل في وحل القضايا المعقدة بحكمة وعدالة
                    </p>
                    

                    <div class="mt-5">

                        <p class="text-end">
                            ندعوك للانضمام إلى مجتمع من المتعلمين والقادة الملتزمين بالتميز والعدالة والخدمة. في كلية الشريعة والقيادة، لن تكتسب فقط فهمًا عميقًا للفقه الإسلامي ولكنك أيضًا ستطور المهارات لإلهام وقيادة بحكمة ونزاهة في عالم يتغير باستمرار. رحلتك هنا ستعدك لتكون منارة للقيادة الأخلاقية، مضيئًا الطريق نحو مجتمع أكثر عدالة وإنصافًا للجميع
                        </p>

                        <div class="mt-5 text-end">
                            <a class="btn btn-primary btn-lg fw-bold fs-4" href="how_to_apply.html" role="button">A<span
                                    class="text-lowercase ">pply now</span> </a>
                        </div>

                    </div>

                </div>



            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}