{% extends 'public/public_layout.html' %}
{% block title %} HU | National Patnerships

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/national_parternship.css')}}" />
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                National  <br> Partnerships<br>
                <h1 class="display-5 text-warning fw-bolder"> Bridging borders, building solutions
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4">
            <h1 class="display-6 text-black text-center">
                Together, we're achieving the impossible.
            </h1>
            <div class="row  text-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 mt-5 ">
                <div class="col">
                    <a href="https://hormuud.com/" target="_blank">
                        <img src="{{url_for('static', filename='img/public/hor.png')}}" alt="Hormuud university logo" loading="lazy"
                    width="200" height="200" />
                    </a>
                    

                </div>
                <div class="col">
                    <a href="https://www.salaambank.so/" target="_blank">
                        <img src="{{url_for('static', filename='img/public/salamabank.png')}}" alt="Hormuud university logo" loading="lazy"
                    width="200" height="200" />
                    </a>
                    

                </div>
                <div class="col">
                    <a href="https://buruuj.so/" target="_blank">
                        <img src="{{url_for('static', filename='img/public/buruuj.png')}}" alt="Hormuud university logo" loading="lazy"
                    width="200" height="200" />
                    </a>
                    

                </div>
                <div class="col">
                    <a href="https://beco.so/" target="_blank">
                        <img src="{{url_for('static', filename='img/public/beco.png')}}" alt="Hormuud university logo" loading="lazy"
                    width="200" height="200" />
                    </a>
                    

                </div>
                <div class="col">
                    <img src="{{url_for('static', filename='img/public/coca.png')}}" alt="Hormuud university logo" loading="lazy"
                    width="200" height="200" />

                </div>
                <div class="col">
                    <a href="https://tabaarakict.net/" target="_blank">
                        <img src="{{url_for('static', filename='img/public/tabaarak.png')}}" alt="Hormuud university logo" loading="lazy"
                    width="200" height="200" />

                    </a>
                    
                </div>
                <div class="col">
                    <a href="https://hormuudsalaamfoundation.org/" target="_blank">
                        <img src="{{url_for('static', filename='img/public/horfon.png')}}" alt="Hormuud university logo" loading="lazy"
                    width="200" height="200" />
                    </a>
                    

                </div>

            </div>
        </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}