{% extends 'public/public_layout.html' %}
{% block title %} HU | Postgraduate

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/postgraduate.css')}}" />
{% endblock %}

{% block content %}
    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">

            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-3">
                    <h1 class="display-1 v2_font">
                        Demand: <br>
                        <span class="display-5 text-warning fw-bolder">
                            Addressing the increased need for second degrees through the LUC partnership.
                        </span>
                    </h1>
                </div>
                <div class="col-4 col-md-6 mb-3 text-center">
                    <img src="{{url_for('static', filename='img/public/HU-PostrGraduate-Director.png')}}" class="card-img-top fit-image rounded-4"
                        alt="HU-PostrGraduate-Director">

                    <div class="mt-2 fs-5">
                        Mr. Said Abdi Adam
                    </div>
                </div>
            </div>



        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        From Aspiring Scholar to Career-Ready Professional
                    </h1>
                    <p class="fs-5 text-dark">
                        Hormuud University was established in 2010 and is a young university but with highly qualified
                        lecturers, potential engineering programs, resourceful teaching facilities, strong corporate
                        relations and sizeably employment opportunities.
                    </p>
                    <p class="fs-5 text-dark">
                        As a graduate student at the Hormuud University, you will face many exciting and rewarding
                        challenges. Whether you are pursuing a masters or doctoral degree or a professional certificate,
                        you are about to discover that postgraduate study is quite different from your undergraduate
                        experience. Instead of taking coursework from abroad range of disciplines, you will have a much
                        narrower and much deeper focus. The opportunities to work with our postgraduate one-on-one are
                        considerably greater than generally found in most undergraduate programs. PostGraduate programs
                        also usually require much greater individual initiative than undergraduate courses of study, and
                        you will be responsible for your own progress toward the degree.
                    </p>
                    <p class="fs-5 text-dark">
                        To contribute effectively to responding the recent increasing demand for second degree programs
                        in the country, the University has recently signed an academic collaboration agreement with
                        Lincoln University College Malaysia (LUC), a well-known university in Malaysia to run in the
                        following programmes and also Hormuud university is expanding internationally and on regional
                        relations:
                    </p>
                    <h3 class="display-7 text-black mt-5">
                        Hormuud University offers Master programmes in the following courses
                    </h3>

                    <div class="mt-5">
                        <ul>
                            <li><span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Master of International Relations and Policie
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Business Administration in Islamic Banking
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Business Administration In HRM
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Finance
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Economics
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Public Health
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Business Administration in Supply Chain and Logistics Management
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Education
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Computer Science
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Business Administration MBA
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Public Administration
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master of Project Management
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Master in Health Care Management
                            </li>


                        </ul>

                    </div>


                    <h3 class="display-7 text-black mt-5">
                        Hormuud University partner with:-
                    </h3>


                    <div class="mt-5">
                        <ul>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                University of Malaya, Malaysia
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Lincoln University College, Malaysia
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                IUBAT, Bangladesh
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Khartoum University, Sudan
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Association of Somali Universities (ASU) Somalia
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Association of African Universities (AAU) Ghana
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Association of Arab Universities (AARU) Jordan
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                International Union of universities (IUU) Turkey
                            </li>
                            <li>
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Global University Network for Innovation (GUNI) Spain
                            </li>


                        </ul>

                    </div>

                    <div class="mt-5">
                        <h6>
                            Mr. Said Abdi Adam,
                        </h6>
                        <h6>
                            Postgraduate Director
                        </h6>

                        <h6>
                            Hormuud University
                        </h6>

                    </div>

                </div>
            </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}