{% extends 'public/public_layout.html' %}
{% block title %} HU | Postgraduate Diploma

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/postgraduate_diploma.css')}}" />
{% endblock %}

{% block content %}

    <!-- from here content -->

    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
                <h1 class="display-1 v2_font">
                    Post Graduate <br> Diploma<br>
                    <h1 class="display-5 text-warning fw-bolder">
                        Empowering Leaders for Tomorrow, Cultivating Success and Building a Better Future
                    </h1>
                </h1>

        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="mb-5">

        <div class="container-sm ps-4 pe-4 ">

            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-8 ">
                    <h1 class="display-6 text-black">
                        Bridging Academia and Employment
                    </h1>
                    <p class="fs-5 text-dark mt-5">
                        I am extremely pleased to serve as Coordinator for the Postgraduate Diploma Studies in Education and Business Administration and am incredibly proud of the academic quality, pathways and opportunities available to our students.
                    </p>
                    <p class="fs-5 text-dark">
                        Welcome to the Postgraduate Diploma from Hormuud University, that is designed for recent graduates to develop their Education and Business knowledge and acumen, in order to accelerate their access to the workplace by pursuing a postgraduate qualification. Our aim is to prime students for the world of work, to become professional, responsible, innovative, self-managing leaders.
                    </p>
                    
                    <h3 class="display-7 text-black mt-5">
                        University offers Diploma of programs on the fallowing courses:
                    </h3>

                    <div class="mt-5 fw-bolder">
                        <ul>
                            <li><span class="me-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span> Diploma of Education 
                            </li>
                            <li>
                                <span class="me-2 fw-bolder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Diploma of Business Administration 
                            </li>
                            
                            
                            
                        </ul>

                    </div>

                    <div class="mt-5">

                        <p>
                            We look forward to nurturing our students who will have the knowledge, skills, attitudes, values, and commitment required to making a better world for everyone. May I wish you an intellectually rewarding candidature in your post graduate diploma degree program.
                        </p>

                        <h6>
                            Mr. Mohamed Ibrahim Omar

                        </h6>
                        <h6>
                            Coordinator of Postgraduate Diploma 
                        </h6>
                        
                        <h6>
                            Hormuud University
                        </h6>
                        
                    </div>
                    
                    </div>

                    

                </div>
            </div>


        </div>

    </section>
    <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}