{% extends 'public/public_layout.html' %}
{% block title %} HU | President's message

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}

    <!-- from here content -->

    <section>
        <div class="container  mb-5">
            <div class="row p-1 justify-content-center pb-5">
                <div class="col-12 col-md-10 mt-5">
                    <h1 class="display-1 text-dark" style="font-size: 18px;">A message from our president</h1>
                    <h1 class="display-5 text-dark mt-4">
                        Join the HU Community: Where Unity Fuels Innovation and Excellence
                    </h1>

                    <div class="container pre-container mt-5">
                        <img class="image rounded-circle" src="{{url_for('static', filename='img/public/President-image.jpg')}}" alt="Profile Picture"
                            width="60" height="60">
                        <div>
                            <p class="pre-name ms-2 text-primary">Dr. Adam Shidane Guled </p>
                            <p class="pre-title ms-2">President Hormuud University</p>
                        </div>
                    </div>

                    <div class="mt-5 border border-2 border-primary rounded-3 p-1">
                        <img src="{{url_for('static', filename='img/public/President-image.jpg')}}" class="card-img-top rounded" alt="..." width="50">
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 mt-5 card-text display-6"
                            style="font-size: 15px; letter-spacing: 1px;">
                            <p class="">
                                Praise be to Allah, peace and blessings be upon our Prophet Muhammad and his companions
                                at all after that:
                            </p>
                            <p class="card-text">
                                On behalf of the Hormuud University faculty, administration, and staff, I encourage you
                                to visit our campus and website. We are very happy to become acquainted with you and to
                                help you succeed in your educational journey.
                            </p>
                            <p class="card-text">
                                Universities are defined by the quality and commitment of their faculty, and great
                                universities are defined by having engaged teachers and scholars who bring new energy,
                                ideas, perspectives and partnerships to our students, to each other, and to the
                                university. While you may be new to HU, please know this is now your university and your
                                voice matters. I strongly urge you to get involved and bring your ideas and experiences
                                to the forefront at Hormuud University.
                            </p>
                            <p class="card-text">
                                Hormuud University, the uniqueness – at the national level – in the education of
                                engineering and other scientific specialties is our main aim that we make great efforts
                                to achieve it. As a HU community, we believe that unity is a power. We are also
                                committed to the academic excellence, search for goodness, serving to society, fostering
                                innovation and creativity and freedom from discrimination.
                            </p>
                            <p class="card-text">
                                HU is located on a safe, welcoming and beautiful campus in Mogadishu (KM 13). Our
                                university has an excellent relationship with the community and with the entire region.
                                In 2015, since my appointment by the Board of Trustees for the leadership position of
                                HU, we (I and my team) have begun planning for extending the university faculties; from
                                only engineering faculty to five functioning faculties. The added four faculties are,
                                namely, faculty of Computer Science and Information Technology, Economics and Management
                                Sciences, Arts and Social Sciences, Sharia & Leadership and Agriculture. We have done
                                all of these extensions to open up new academical opportunities to the newly admitted
                                students to the university in order to participate in developing the various aspects of
                                Somali Society.
                            </p>
                            <p class="card-text">
                                The Hormuud University seeks for academic excellence in all of its academic programs.
                                Our major strength lies in a strong team of highly qualified faculty and dedicated staff
                                to deliver first class education at an affordable price To broaden the educational and
                                philosophical horizons of our students, we have developed the University Curriculum by
                                adding other very important subjects to it, such as Islamic Culture and Somali Studies,
                                because we don’t want graduate students who are poor in the Islamic spirituality and
                                lack of the spirit of nationalism. We really want to put out a perfect student. <br> We
                                also believe in the power of our students to create opportunities for themselves and
                                others.
                            </p>
                            <p class="card-text">
                                Therefore, we have launched the Karama Center for Research & Development. For research,
                                to participate in the description and investigation of the current social problems of
                                Somali Society. For development, to equip our students with the very necessary skills in
                                the market. Because, we have really recognized that the students not only need a
                                traditional university degree, but also, they require building for their capacity so as
                                to enhance their professional skills and we are doing this under CISCO programs and
                                Karama Center for Research & Development Training Courses.
                            </p>
                            <p class="card-text">
                                Finally, we will be doing our utmost efforts to ensure our goals and to maintain our
                                core values across all of these faculties and institutions of Hormuud University.
                                However, we welcome you to participate in the endless endeavors and opportunities at HU,
                                joining talented scholars, scientists, writers and others to teach, perform, create, and
                                study in a place to where everyone belongs. Towards Quality and Excellence.
                            </p>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- to here content end -->

{% endblock %}