{% extends 'public/public_layout.html' %}
{% block title %} HU | Programmes

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/programmes.css')}}" />
{% endblock %}

{% block content %}

    <!-- from here content -->
    <!-- Hero section start -->
    <section class="mb-5 my-hero">

        <div class="container diff-right-darkness rounded">
            <h1 class="display-1 v2_font">
                Fuel your curiosity <br> with<br>
                <h1 class="display-5 text-warning fw-bolder">
                    Our academic programs
                </h1>
            </h1>




        </div>

    </section>
    <!-- Hero section end -->


    <!-- overview and information section start -->
    <section class="container mt-5 pt-5 ps-3 pe-3">

        <div class="text-center">
            <h1 class="display-9 fw-bold">Embark on a journey of discovery and innovation at Hormuud University, where
                academic excellence meets real-world application</h1>
        </div>


        <!-- Row 1 ===========================================================-->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 ps-5 pe-5 mt-5">

            <div class="col  pb-3 pt-3 mb-3 ps-0 ">
                <div class="card border border-1">
                    <div class="ps-3 mt-3">
                        <span style="font-size: 40px;"
                            class="material-symbols-outlined border border-primary p-3 rounded-5 badge-primary">
                            engineering
                        </span>
                    </div>

                    <div class="card-body shadow-3">

                        <div class="mb-5">

                            <h5 class="card-title my_black_text">Faculty of Engineering</h5>
                            <p class="card-text fw-light">Dive into the world of engineering, where we shape problem
                                solvers and innovators. Our programs in civil, mechanical, electrical, and more, are
                                tailored to challenge the mind and spark creativity, empowering you to engineer
                                solutions for tomorrow's challenges.</p>
                        </div>

                        <div>
                            <a href="engineering.html">
                                <span style="font-size: 18px;"
                                    class="material-symbols-outlined rounded-5 bg-primary ps-2 pt-2 pe-2 pb-2 text-light">
                                    arrow_forward_ios
                                </span>
                                <span class="ms-1 pt-2 fw-light text-primary">Review</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col  pb-3 pt-3 mb-3 ps-0">
                <div class="card border border-1">
                    <div class=" ps-3 mt-3">
                        <span style="font-size: 40px;"
                            class="material-symbols-outlined border border-danger p-3 rounded-5 badge-danger">

                            computer

                        </span>
                    </div>

                    <div class="card-body shadow-3">

                        <div class="mb-5">
                            <h5 class="card-title my_black_text">Faculty of Computer Science & IT</h5>
                            <p class="card-text fw-light">In the digital age, our faculty stands at the forefront of
                                technological advancement. From software development to cybersecurity, we offer
                                cutting-edge programs that prepare students for the rapidly evolving tech landscape,
                                empowering them to become leaders in the field.</p>

                        </div>

                        <div>
                            <a href="computer_science.html">
                                <span style="font-size: 18px;"
                                    class="material-symbols-outlined rounded-5 bg-primary ps-2 pt-2 pe-2 pb-2 text-light">
                                    arrow_forward_ios
                                </span>
                                <span class="ms-1 pt-2 fw-light text-primary ">Review</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col pb-3 pt-3 mb-3 ps-0">
                <div class="card border border-1">
                    <div class=" ps-3 mt-3">
                        <span style="font-size: 40px;"
                            class="material-symbols-outlined border border-primary p-3 rounded-5 badge-primary">

                            currency_exchange

                        </span>
                    </div>

                    <div class="card-body shadow-3 ">

                        <div class="mb-5">
                            <h5 class="card-title my_black_text">Faculty of Economics & Management Sciences:</h5>
                            <p class="card-text fw-light">Our faculty combines rigorous academic theory with practical
                                insights into the business world. With programs in economics, finance, marketing, and
                                management, we prepare future leaders to navigate the complexities of the global economy
                                with confidence and integrity.</p>

                        </div>

                        <div>
                            <a href="economic_managment.html">
                                <span style="font-size: 18px;"
                                    class="material-symbols-outlined rounded-5 bg-primary ps-2 pt-2 pe-2 pb-2 text-light">
                                    arrow_forward_ios
                                </span>
                                <span class="ms-1 pt-2 fw-light text-primary ">Review</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col  pb-3 pt-3 mb-3 ps-0 ">
                <div class="card border border-1">
                    <div class="ps-3 mt-3">
                        <span style="font-size: 40px;"
                            class="material-symbols-outlined border border-info p-3 rounded-5 badge-info">

                            diversity_3

                        </span>
                    </div>

                    <div class="card-body shadow-3">

                        <div class="mb-5">

                            <h5 class="card-title my_black_text">Faculty of Arts & Social Sciences: </h5>
                            <p class="card-text fw-light">Explore the human experience through our programs in
                                psychology, sociology, political science, and more. We encourage critical thinking,
                                creativity, and a deep understanding of the social issues that shape our world,
                                preparing students to make meaningful contributions to society.</p>
                        </div>

                        <div>
                            <a href="arts_and_social_science.html">
                                <span style="font-size: 18px;"
                                    class="material-symbols-outlined rounded-5 bg-primary ps-2 pt-2 pe-2 pb-2 text-light">
                                    arrow_forward_ios
                                </span>
                                <span class="ms-1 pt-2 fw-light text-primary ">Review</span>
                            </a>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col  pb-3 pt-3 mb-3 ps-0">
                <div class="card border border-1">
                    <div class=" ps-3 mt-3">
                        <span style="font-size: 40px;"
                            class="material-symbols-outlined border border-warning p-3 rounded-5 badge-warning">

                            nature_people

                        </span>
                    </div>

                    <div class="card-body shadow-3">

                        <div class="mb-5">
                            <h5 class="card-title my_black_text">Faculty of Geoscience & Environment: </h5>
                            <p class="card-text fw-light"> Delve into the study of our planet and its systems with our
                                programs in geology, environmental science, and geography. Our faculty is dedicated to
                                fostering a deeper understanding of the Earth, its resources, and the importance of
                                sustainable management for future generations.</p>

                        </div>

                        <div>
                            <a href="geoscience.html">
                                <span style="font-size: 18px;"
                                    class="material-symbols-outlined rounded-5 bg-primary ps-2 pt-2 pe-2 pb-2 text-light">
                                    arrow_forward_ios
                                </span>
                                <span class="ms-1 pt-2 fw-light text-primary ">Review</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col pb-3 pt-3 mb-3 ps-0">
                <div class="card border border-1">
                    <div class=" ps-3 mt-3">
                        <span style="font-size: 40px;"
                            class="material-symbols-outlined border border-success p-3 rounded-5 badge-success">

                            book_5

                        </span>
                    </div>

                    <div class="card-body shadow-3 ">

                        <div class="mb-5">
                            <h5 class="card-title my_black_text">Faculty of Shari'a & Leadership: </h5>
                            <p class="card-text fw-light">Our faculty offers a comprehensive understanding of Islamic
                                law and leadership principles, blending traditional knowledge with modern applications.
                                This unique program prepares students for roles in religious, community, and
                                organizational leadership, grounded in ethical and moral values.</p>

                        </div>

                        <div>
                            <a href="leadership.html">
                                <span style="font-size: 18px;"
                                    class="material-symbols-outlined rounded-5 bg-primary ps-2 pt-2 pe-2 pb-2 text-light">
                                    arrow_forward_ios
                                </span>
                                <span class="ms-1 pt-2 fw-light text-primary ">Review</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col pb-3 pt-3 mb-3 ps-0">
                <div class="card border border-1">
                    <div class=" ps-3 mt-3">
                        <span style="font-size: 40px;"
                            class="material-symbols-outlined border border-danger p-3 rounded-5 badge-danger">
                            agriculture
                        </span>
                    </div>

                    <div class="card-body shadow-3 ">

                        <div class="mb-5">
                            <h5 class="card-title my_black_text">Faculty of Agriculture: </h5>
                            <p class="card-text fw-light">With a focus on sustainable agriculture and modern farming
                                techniques, our faculty is dedicated to preparing students for the challenges of food
                                security and agricultural innovation. Our programs cover a range of topics, from crop
                                science to animal husbandry, equipping students with the knowledge to lead the
                                agricultural sector towards a sustainable future.</p>

                        </div>

                        <div>
                            <a href="agriculture.html">
                                <span style="font-size: 18px;"
                                    class="material-symbols-outlined rounded-5 bg-primary ps-2 pt-2 pe-2 pb-2 text-light">
                                    arrow_forward_ios
                                </span>
                                <span class="ms-1 pt-2 fw-light text-primary ">Review</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- Row 2 ===========================================================-->




    </section>
    <!-- overview and information section end -->

    <!-- to here content end -->

{% endblock %}