{% extends 'public/public_layout.html' %}
{% block title %} HU | Public Relationship Office

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}

    <!-- from here content -->

    <section>
        <div class="container-md   mb-5">
            <div class="row p-1 justify-content-center pb-5 ">
                <div class="col-12 col-md-10 mt-5">
                    <h1 class="display-1 text-dark" style="font-size: 18px;">A message from our Director of Public
                        Relations</h1>
                    <h1 class="display-5 text-dark mt-4">
                        Unveiling HU's World: Partnerships, Achievements, and Beyond
                    </h1>

                    <div class="container pre-container mt-5">
                        <img class="image rounded-circle" src="{{url_for('static', filename='img/public/caamir-public-relationship2.jpg')}}"
                            alt="Caamir public relationship director" width="60" height="60">
                        <div>
                            <p class="pre-name ms-2 text-primary">Mr. Amir Jamal Said </p>
                            <p class="pre-title ms-2">Director of Public Relations</p>
                        </div>
                    </div>

                    <div class="mt-5 border border-2 border-primary rounded-3 p-1">
                        <img src="{{url_for('static', filename='img/public/caamir-public-relationship.png')}}" class="card-img-top rounded"
                            alt="Caamir public director" width="50">
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10  mt-5 card-text display-6"
                            style="font-size: 15px; letter-spacing: .8px;">
                            <p class="">
                                The Public Relations Office is the official source of information on behalf of Hormuud
                                University. We promote University news and events, as well as the initiatives,
                                innovations, research, activities and accomplishments of students, faculty, staff and
                                alumni to audiences across around the world.
                            </p>
                            <p class="card-text">
                                The Office of Public Relations also, provides relevant news focusing on the people and
                                programs of the University to the media, the public and to our internal audiences.
                            </p>
                            <p class="card-text">
                                The Office of Public Relations also provides a variety of communication services to our
                                student body and faculty, organizations, university departments, including photo
                                services and media relations.
                            </p>
                            <p class="card-text">
                                Hormuud University has developed a number of partnerships which are geographically
                                spread and culturally diverse.
                            </p>
                            <p class="card-text">
                                We recognize that collaborative partnerships provide unique opportunities for students
                                to benefit from higher education, and learn the knowledge and skills required to equip
                                them for the workplace.
                            </p>
                            <p class="card-text">
                                Hormuud University is an official member of many International, Regional and local
                                Associations.
                            </p>
                            <p class="card-text">
                                Therefore, we have launched the Karama Center for Research & Development. For research,
                                to participate in the description and investigation of the current social problems of
                                Somali Society. For development, to equip our students with the very necessary skills in
                                the market. Because, we have really recognized that the students not only need a
                                traditional university degree, but also, they require building for their capacity so as
                                to enhance their professional skills and we are doing this under CISCO programs and
                                Karama Center for Research & Development Training Courses.
                            </p>
                            <p class="card-text">
                                Finally, we will be doing our utmost efforts to ensure our goals and to maintain our
                                core values across all of these faculties and institutions of Hormuud University.
                                However, we welcome you to participate in the endless endeavors and opportunities at HU,
                                joining talented scholars, scientists, writers and others to teach, perform, create, and
                                study in a place to where everyone belongs. Towards Quality and Excellence.
                            </p>


                            <div>
                                
                                <div class="mt-5 text-black fw-bold">
                                    Contact:-
                                    <h6 class="mt-3">
                                        amir@hu.edu.so
                                    </h6>
                                    <h6>
                                        +252 619 199999
                                    </h6>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- to here content end -->

{% endblock %}