{% extends 'public/public_layout.html' %}
{% block title %} HU | Register Office

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
{% endblock %}

{% block content %}

    <!-- from here content -->

    <section>
        <div class="container  mb-5">
            <div class="row p-1 justify-content-center pb-5">
                <div class="col-12 col-md-10 mt-5">
                    <h1 class="display-1 text-dark" style="font-size: 18px;">Chief Registrar Message</h1>
                    <h1 class="display-5 text-dark mt-4">
                        Safeguarding Your Academic Journey with Commitment and Care
                    </h1>

                    <div class="container pre-container mt-5">
                        <img class="image rounded-circle d-none" src="{{url_for('static', filename='img/public/President-image.jpg')}}" alt="Profile Picture"
                            width="60" height="60">
                        <div>
                            <p class="pre-name ms-2 text-primary">Mr. Abdirahman Abdullahi Ahmed (Abdirahman Garabey)</p>
                            <p class="pre-title ms-2">Chief Registrar, Hormuud University</p>
                        </div>
                    </div>

                    <!-- <div class="mt-5 border border-2 border-primary rounded-3 p-1">
                        <img src="{{url_for('static', filename='img/public/President-image.jpg')}}" class="card-img-top rounded" alt="..." width="50">
                    </div> -->

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 mt-5 card-text display-6"
                            style="font-size: 15px; letter-spacing: 1px;">
                            <p class="">
                                On behalf of administration, faculties and staff of Hormuud University (HU), I would like to take this opportunity to extend a warm welcome and say congratulations to you, on making a very positive choice in becoming a student and a member of our Hormuud University family.
                            </p>
                            <p class="card-text">
                                Our highly qualified, committed and friendly staff will ensure that your experience at HU is one that will be imprinted on your mind as the most rewarding and fulfilling. Our faculty members are committed to advising and working with you to guide your progress, along with other academic and professional goals you envision for yourself.
                            </p>
                            <p class="card-text">
                                The Hormuud University is striving hard to have qualitative improvement in the level of education, environment and economy of this country. The university has a visionary mission to contribute in multidimensional growth and development of the region in general and holistic development of the students in particular. As we motivate our students along their educational journeys, the HU remains steadfast in keeping the vision of nurturing student potential to the fullest and encouraging them to stay at the forefront always.
                            </p>
                            <p class="card-text">
                                The University Registrar plans, organizes and manages all of the activities related to the records and Registration Department of a University, including serving as the official authorized Keeper of the University's student records. The HU registrar responsibilities include administering of registration, tuition assessment and academic records, and to ensure the confidentiality and accuracy of student records. The University Registrar plays a critical role in the University and academic operations by effectively managing the maintenance and integrity of all student academic records, and the approved curriculums.
                            </p>
                            <p class="card-text">
                                The Goals of the Registrar's Office are to maintain and preserve all university student academic records, keep and update current and continuing student records with all aspects toward different degrees completion and award. The Registrar sustains liaison with other units or departments within the University.
                            </p>
                            <p class="card-text">
                                My best wishes for those who seek to be a part of this wonderful University and congratulate all the students completing their degrees, high diplomas, and postgraduate programs from Hormuud University and wish them to occupy the coveted positions and serve the Somali community as a whole.
                            </p>
                            <p class="card-text mb-4">
                                Finally, I further wish the present year will be highly delightful for HU family and all our visions may be achieved. Wish you all the best; a very prosperous and satisfied years to come.
                            </p>
                            <div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item ps-0 text-black"><i>Chief Registrar</i></li>
                                <li class="list-group-item ps-0">Mr. Abdirahman Abdullahi Ahmed</li>
                                <li class="list-group-item ps-0"> <a href="{{url_for('index')}}">HORMUUD UNIVERSITY</a></li>
                                <li class="list-group-item ps-0">registrar@hu.edu.so </li>
                                </ul>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- to here content end -->

{% endblock %}