{% extends 'public/public_layout.html' %}
{% block title %} HU | Scholarships And Financial Assistance

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/scholarships_and_financial_assistance.css')}}" />
{% endblock %}

{% block content %}
    <!-- from here content -->

     <!-- Hero section start -->
     <section class="mb-5 my-hero">

        <div class="container">
            <h1 class="display-1 v2_font">
                Financial Assistance <br>and
                <span class="display-1 text-black fw-bolder">
                    Scholarships
                </span>
            </h1>
            <!-- <p class="hu-hero-font fw-3">
            </p> -->

        </div>

    </section>
    <!-- Hero section end -->


        <!-- overview and information section start -->
        <section class="mb-5">

            <div class="container-sm ps-4 pe-4 ">
    
                <div class="row  justify-content-center">
                    <div class="col-md-12 col-lg-8 ">
                        <h1 class="display-3 text-black">
                            Overview
                        </h1>
                        <p class="fs-5 text-dark">
                            Hormuud University Scholarship program is a matching system that maximizes scholarship opportunities for students. It allows students to create an academic profile that enables them to connect with various internal and external scholarship opportunities. Updating the student profile criteria regularly will ensure students are seeing all external scholarships for which they qualify. Hormuud University Scholarship will also match students to Hormuud University scholarships and departmental scholarships for which they qualify to apply.
                        </p>
                        <p class="fs-5 text-dark">
                            All applications submitted and completed by priority deadlines are eligible to be considered for scholarships. Hormuud University Offers students’ lives in whole country full scholarship and financial assistance Based on any students earned highest mark in enrollment examination
                        </p>
                        <h3 class="display-7 text-black mt-5">
                            How does Hormuud University Scholarship Work?
                        </h3>
    
                        <div class="mt-5">
                            <ul>
                                <li><span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                            class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </span> Students answer questions that match them to scholarship opportunities for which they are eligible.
                                </li>
                                <li>
                                    <span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                            class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </span>
                                    Students easily apply online to multiple scholarship opportunities through a personalized portal.
                                </li>
                                <li>
                                    <span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                            class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </span>
                                    Students can track their application statuses via the portal.
                                </li>
                                <li>
                                    <span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                            class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </span>
                                    Students are alerted whenever they are matched to a new scholarship opportunity.
                                </li>
                                <li>
                                    <span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                            class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </span>
                                    <span class="fw-bolder">
                                       Admission & Scholarship Process:
                                    </span>
                                    
                                </li>
                                <ul>
                                    <li><span class="me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                                class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg>
                                        </span>First step, for any student who needs to get scholarship must make full enrollment process in the university and pay a registration fee of $30.</li>
                                    <li>
                                        <span class="me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                                class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg>
                                        </span>
    
                                        After enrollment, students should take part in the admission exam held at the examination hall of the University.
                                    </li>
                                    <li>
                                        <span class="me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                                class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg>
                                        </span>
    
                                        After examination, students who get the highest marks (top ten) will get full scholarship based on their faculties.
                                    </li>
                                    <li>
                                        <span class="me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                                class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg>
                                        </span>Students that get the scholarship (Top Ten) should fill the rules and regulations scholarship program form.
                                    </li>
                                </ul>
                            </ul>
    
                        </div>
    
                    </div>
                </div>
    
    
            </div>
    
        </section>
        <!-- overview and information section end -->



    <!-- to here content end -->

{% endblock %}