 <!-- from here content -->
 <section>

  <div class="container ">
      <h1 class="display-1 mt-4 text-dark fw-light">
          Our Commitment to Unparalleled Data Protection
      </h1>
  </div>
</section>

<!-- to here content end -->

<!-- overview and information section start -->
<section class=" mb-5">

  <div class="container ps-4 pe-4">

      <div class="row  justify-content-center mt-5">
          <div class="col-md-12 col-lg-8">
              <h1 class="display-5 text-black">

                  SECURITY POLICY

              </h1>
              <p class="fs-5 text-dark">
                  This section outlines our comprehensive approach to ensuring the security and protection of
                  personal data entrusted to us. We utilize advanced technologies, including encryption software,
                  to secure all data provided by our users. Our commitment to maintaining high security standards
                  is unwavering, with measures in place to prevent unauthorized access to the data.
              </p>
              <h3 class="display-7 text-black mt-5">
                  Data Protection
              </h3>

              <p class="fs-5 text-dark">
                  Leading technologies including encryption software is used to safeguard any data given to us and strict security standards are maintained to prevent unauthorized access.
              </p>
              <h3 class="display-7 text-black mt-5">
                  Storage security
              </h3>

              <p class="fs-5 text-dark">
                  To safeguard your personal data, all electronic storage and transmission of personal data are secured and stored with appropriate security technologies.
              </p>

              <h3 class="display-7 text-black mt-5">
                  Security Information
              </h3>

              <p class="fs-5 text-dark">
                  University sites have security measures in place against the loss, misuse and alteration of information as defined in the University’s Rules And Regulations for the Use of ICT Facilities.
              </p>
              <p class="fs-5 text-dark">
                  A login name and password are required to visit secure areas. Before personal information (such as examination results) is published on the site, visitors are required to enter their student or staff number as well. This is to ensure that the information is displayed only to the intended person. You should ensure that your password is kept securely and cannot be discovered by anyone else.
              </p>

          </div>
      </div>


  </div>

</section>
<!-- overview and information section end -->