<div class="card objective_card animatedBackground objective-container mt-3">

    <ul class="squares">

        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>
        <li>
            <span class="navbar-brand" href="#">
                <img src="static/img/hu_official_logo_without_text_png.png" alt="Hormuud university logo"
                    loading="lazy" width="30" height="30" />
            </span>
        </li>

    </ul>

    <div class="card-body">
        <p class="animated-text fs-5" id="">1. To Provide higher education opportunity for Somali society
            and other citizens to participate in the development and building their country.</p>
        <p class="animated-text fs-5" id="">2. To prioritize applied science and technology by the side of
            social science, Humanity, and Muslim societal culture.</p>
        <p class="animated-text fs-5" id="">3. To prioritize postgraduate and research education to apply
            regional development.</p>
        <p class="animated-text fs-5" id="">4. To Create the appropriate environment for intellectual and
            emotional interaction between students of different cultures, including the meanings of
            brotherhood and solidarity.</p>
        <p class="animated-text fs-5" id="">5. To Spread tolerance, moderation and mediation Islamic values
            for Somali society.</p>
    
    <div>
        <h1 class="my_text_color display-1 fs-1 fw-bold">
            Inclusion From the University
        </h1>

        <p>
            Inclusion is core values of Hormuud University. Hormuud University is committed to becoming an inclusive community which enables all students and staff to feel valued and respected and to develop their full potential. Diversity in experiences and perspectives enriches our teaching and strengthens our research. High quality teaching and research is inclusive.
        </p>
        <p>
            We work to bring out the best in our students, faculty and staff by valuing their unique backgrounds, experiences and perspectives–welcoming and leveraging individual contributions to collaborate, create, innovate and compete in a global society. We address issues of discrimination, harassment, sexual misconduct and retaliation so members of our community can work, learn, grow and thrive in a safe and supportive environment. Ultimately, we aspire toward inclusive excellence by leading with courage and compassion, treating everyone with dignity and respect, and enhancing the quality of life for everyone with whom we connect. 
        </p>
    </div>
    </div>
</div>