{% extends 'public/public_layout.html' %}
{% block title %} HU | Vission and Mission

{% endblock %}

<!-- custom css -->
{% block news_custom_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/public/vission_and_mission.css')}}" />
{% endblock %}

{% block content %}
    <!-- from here content -->



    <section class=" p-2 m-2 mt-5">

        <div class="container">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 mt-4">
                    <div>
                        <h1 class="display-6">Hormuud University</h1>
                        <h1 class="fs-1 display-6 my_text_color">Vision</h1>

                        <p class="fs-5">
                            Hormuud university aims to be a world-class University, recognized for excellence in
                            teaching and learning, relevant research, and community service.
                        </p>

                    </div>

                    <div>
                        <h1 class="display-6 my_text_color">Hormuud University</h1>
                        <h1 class="vision-gradient-text2  fs-1 display-6 my_text_color_blue">Mission</h1>

                        <p class="fs-5">
                            Hormuud university is committed to provide an academic environment conducive to excellence
                            in learning, career development and work ethics, and enhance creativity and research to find
                            a suitable solution for social problems.
                        </p>

                    </div>

                </div>
                <div class="col order-first order-md-last mt-0 mt-md-4">
                    <img src="{{url_for('static', filename='img/public/vandm1.jpg')}}" class="card-img-top fit-image rounded-4"
                        alt="Hormuud University Mission Image">
                </div>
            </div>

        </div>

    </section>

    <section class="p-2 mt-5 mb-2" style="background-color: #11151b;">

        <div class="container-fluid " id="objective-container">
            <h1 class="display-2 text-white fw-bolder mt-2">HU Objectives</h1>
            <h4 class="display-4 green_color normal">The university is committed to achieve the following objectives:
            </h4>

            <div class="gradient-hr">

            </div>

            <div class="container p-1 mt-5">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col mb-3">
                        <div class="black_card p-2">
                            <div class="card-body">
                                <span class="text-light fs-2">To provide education opportunity</span>
                                <span class="fs-2" style="color: #848d97;">for Somali society
                                    and other citizens to participate in the development and building their
                                    country.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="black_card p-2">
                            <div class="card-body">
                                <span class="fs-2 black_blue_color">To prioritize applied science and technology</span>
                                <span class="fs-2" style="color: #848d97;">by the side of
                                    social science, Humanity, and Muslim societal culture.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="black_card p-2">
                            <div class="card-body">
                                <span class="fs-1" style="color: #f778ba;">To prioritize postgraduate and research
                                    education</span>
                                <span class="fs-2" style="color: #848d97;">to apply
                                    regional development.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="black_card p-2">
                            <div class="card-body">
                                <span class="fs-2" style="color: #2e84b6;">To Create the appropriate environment</span>
                                <span class="fs-2" style="color: #848d97;">for intellectual and
                                    emotional interaction between students of different cultures, including the meanings
                                    of
                                    brotherhood and solidarity.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="black_card p-2">
                            <div class="card-body">
                                <span class="fs-2" style="color: #3fb950;">To Spread tolerance, moderation and
                                    mediation</span>
                                <span class="fs-2" style="color: #848d97;">Islamic values
                                    for Somali society.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </section>



    <section class="mt-5 mb-5 pt-5">

        <div class="container p-2 rounded-2 pt-5 mt-5" style="background-color: #f6f8fa;">

            <h1 class="display-2 fw-bold text-center text-black">
                HU Core Values
            </h1>

            <div class="container">
                <div class="row  p-1 justify-content-center mb-5">
                    <div class="col-12 col-sm-12 col-lg-8 ">
                        <h6 class="text-center fs-5">
                            The conduct and decisions of Hormuud University's leadership and staff members will be a
                            true embodiment of the institution's fundamental values. These core principles, which the
                            organization steadfastly adheres to, encompass a range of values. The list of these values
                            is extensive and includes, but is not limited to the following:
                        </h6>
                    </div>
                </div>
                <div class="text-center mt-3 mb-5">
                    <a href="how_to_apply" class="btn btn-dark btn-rounded fs-5" data-mdb-ripple-init>A<span
                            class="text-lowercase">pply now</span></a>
                </div>
                <hr>



                <div class="row p-2 row-cols-1 row-cols-sm-1 row-cols-lg-3 water-container">
                    <div class="col  mb-3">
                        <h1 class="text-black display-9 fs-2">Act Honestly</h1>
                        <p class="fs-5">
                            Integrity is our foundation: We cultivate a culture of truthfulness and transparency in all
                            our dealings. Our words and actions align, fostering trust and respect within our community.
                        </p>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-black display-6 fs-2">Be Responsible and Accountable</h1>
                        <p class="fs-5">
                            Ownership empowers us: We take ownership of our actions and commitments, holding ourselves
                            accountable for the impact we have. We recognize our roles in shaping the university's
                            success.
                        </p>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-black display-6 fs-2">Be Loyal and Trustworthy</h1>
                        <p class="fs-5">
                            Solidarity strengthens us: We stand by our principles and each other, creating a network of
                            unwavering support and shared purpose. Our loyalty inspires confidence and fosters
                            collaboration.
                        </p>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-black display-6 fs-2">Observe Best Practices</h1>
                        <p class="fs-5">
                            Excellence guides us: We continuously strive for improvement, adhering to the highest
                            standards in every aspect of our work. We embrace innovation and challenge ourselves to
                            excel beyond expectations.
                        </p>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-black display-6 fs-2">Tell and Support the Truth</h1>
                        <p class="fs-5">
                            Integrity fuels our knowledge: We commit to open and honest communication, valuing diverse
                            perspectives and constructive criticism. We actively seek and uphold the truth in all
                            academic pursuits.
                        </p>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-black display-6 fs-2">Show Commitment</h1>
                        <p class="fs-5">
                            Passion drives our purpose: We dedicate ourselves to the university's mission and values,
                            contributing our talents and energies wholeheartedly. We persevere through challenges,
                            fueled by our unwavering commitment to the greater good.
                        </p>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-black display-6 fs-2">Adhere to Islamic Principles</h1>
                        <p class="fs-5">
                            Guiding us towards harmony: We integrate Islamic principles of integrity, respect, and
                            compassion into our academic and social lives. We embrace our faith as a source of strength
                            and inspiration, fostering a community built on shared values.
                        </p>
                    </div>
                </div>


                <img src="static/img/vandm2.jpg" class="card-img-top fit-image rounded-4"
                    alt="Hormuud University Mission Image">


            </div>

        </div>


    </section>



    <section class="mb-5">
        <div class="container  p-1">
            <div class="row me-1 ps-0">
                <div class="col-1 ms-0">
                    <div class="vertical-gradient-line"></div>
                </div>
                <div class="col pt-5">
                    <div>
                        <h1 class="black_blue_color" style="font-size: 60px; font-weight: 700;">
                            Inclusion From The Hormuud <br> University
                        </h1>
                        <p class="">
                            <span>
                                <div class="blurred-circle mb-3 ms-2 mt-4"></div>
                            </span>
                            <span class="fs-5">
                                Inclusion is core values of Hormuud University. Hormuud University is committed to
                                becoming an inclusive community which enables all students and staff to feel valued and
                                respected and to develop their full potential. Diversity in experiences and perspectives
                                enriches our teaching and strengthens our research. High quality teaching and research
                                is inclusive.
                            </span>
                        </p>
                        <p class="">
                            <span>
                                <div class="blurred-circle mb-3 ms-2 mt-4"></div>
                            </span>
                            <span class="fs-5">
                                We work to bring out the best in our students, faculty and staff by valuing their unique
                                backgrounds, experiences and perspectives–welcoming and leveraging individual
                                contributions to collaborate, create, innovate and compete in a global society. We
                                address issues of discrimination, harassment, sexual misconduct and retaliation so
                                members of our community can work, learn, grow and thrive in a safe and supportive
                                environment. Ultimately, we aspire toward inclusive excellence by leading with courage
                                and compassion, treating everyone with dignity and respect, and enhancing the quality of
                                life for everyone with whom we connect.
                            </span>
                        </p>
                    </div>
                    <div>
                        <h1 class="text-black" style="font-size: 60px; font-weight: 700;">

                            Exclusion From the Hormuud
                            <br> University
                        </h1>
                        <p class="">
                            <span>
                                <div class="blurred-circle mb-3 ms-2 mt-4"></div>
                            </span>
                            <span class="fs-5">
                                When students make an application for entrance to Hormuud University, they understand
                                and agree that the University reserves the right to exclude any student at any time for
                                conduct or academic standing regarded by the University as undesirable, without
                                assigning any further reason. It is understood and agreed that the University, or any of
                                its officers or faculty, shall not be liable in any way for such exclusion. To ensure
                                the protection of each individual’s rights, procedures for appeal are provided by the
                                University to assure the students fair treatment in cases of disciplinary action.
                            </span>

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Gsap animation start -->
    <!-- Gsap animation end -->


    <!-- to here content end -->

{% endblock %}